<div class="container">
	<div class="row">
		<div class="box-blue p15">
			<div class="title-blue">{{'EDIT_EVENT' | translate}}</div>
      <form ng-submit="vm.edit(form)" name="form" novalidate>
				<div class="row form-event">
          <div class="col-lg-6">
            <div class="form-group relative-div">
              <label>{{'EVENT_TITLE' | translate}}</label>
              <input type="text" class="form-control" ng-model="vm.event.name" name="name" required>

              <p ng-show="form.name.$error.required && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
            </div>
            <div class="form-group">
              <label>{{'CATEGORY' | translate}} </label>
              <div class="choose-category">
                <div class="radio-l" ng-repeat="category in vm.categories">
                  <input id="{{category._id}}" type="radio" name="category" value="{{category._id}}" ng-model="vm.event.categoryId">
                  <label for="{{category._id}}"> 
                    <img src="{{category | categoryImagePath}}" >
                    <span ng-show="vm.selectedCategory._id===category._id">{{category.menuName.toUpperCase()}}</span>
                  </label>
                </div>
              </div>
              <p ng-show="vm.errors.category && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
            </div>
            <div class="form-group">
              <label>{{'EVENT_TYPE' | translate}}</label>
              <div class="radio-l">
                <input id="radio1" ng-model="vm.event.public" type="radio" name="eventtype" checked="" value="radio1" ng-value="true">
                <label for="radio1" ng-bind-html="'PUBLIC' | translate | html"> </label>
              </div>
              <div class="radio-l">
                <input id="radio2" ng-model="vm.event.public" type="radio" name="eventtype" ng-value="false" value="radio2">
                <label for="radio2" ng-bind-html="'PRIVATE' | translate | html"></label>
              </div>
            </div>
            <div class="form-group event-info-form">
              <label>{{'EVENT_INFORMATION' | translate}}</label>
              <div class="row">
                <div class="col-sm-2" style="margin-top: 5px">{{'FROM' | translate}}</div>
                <div class="col-sm-5">
                  <div class="form-group">
                    <div class="input-group date">
                      <input type="text" class="form-control" id="datetimepicker1" placeholder="Date" ng-model="vm.event.startDate" required name="startDate" uib-datepicker-popup="{{'dd-MMMM-yyyy'}}" is-open="vm.isOpenFromDate" datepicker-options="vm.options">
                      <span class="input-group-addon" ng-click="vm.isOpenFromDate=!vm.isOpenFromDate">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-group">
                    <div class="input-group date">
                      <input class="form-control" ng-change="vm.changeStartTime(vm.event.startTime)" ui-timepicker ng-model="vm.event.startTime">
                      <!-- <input type="text" class="form-control" id="datetimepicker2" placeholder="Time" ng-model="vm.event.startTimeFormatted" required name="startTime"> -->
                      <span class="input-group-addon">
                          <span class="fa fa-clock-o"></span>
                      </span>
                    </div>

                    <!-- <div ng-show="vm.startTimeOpen" class="absolute-timepicker">
                      <uib-timepicker ng-mouseleave="vm.startTimeOpen = false" required name="startTime" ng-model="vm.event.startTime" show-meridian="false"></uib-timepicker>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="row" style="height:25px" ng-show="vm.errors.startDateTime && vm.submitted">
                <div class="col-sm-12">
                  <p class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-2" style="margin-top: 5px">{{'TO' | translate}}</div>
                <div class="col-sm-5">
                  <div class="form-group">
                    <div class="input-group date">
                      <input type="text" class="form-control" id="datetimepicker3" placeholder="Date" ng-model="vm.event.endDate" required name="endDate" uib-datepicker-popup="{{'dd-MMMM-yyyy'}}" is-open="vm.isOpenToDate" datepicker-options="vm.options">
                      <span class="input-group-addon" ng-click="vm.isOpenToDate=!vm.isOpenToDate">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-group relative-div">
                    <div class="input-group date">
                      <input class="form-control" ui-timepicker ng-model="vm.event.endTime">
                      <!-- <input type="text" class="form-control" id="datetimepicker4" placeholder="Time" ng-model="vm.event.endTimeFormatted" required name="endTime"> -->
                      <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span>
                      </span>
                    </div>

                    <!-- <div ng-show="vm.endTimeOpen" class="absolute-timepicker">
                      <uib-timepicker ng-mouseleave="vm.endTimeOpen = false" required name="endTime" ng-model="vm.event.endTime" show-meridian="false"></uib-timepicker>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="row" style="height:25px" ng-show="vm.errors.endDateTime && vm.submitted">
                <div class="col-sm-12">
                  <p class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
                </div>
              </div>

              <div class="row" style="height:25px" ng-show="vm.errors.dateTime && vm.submitted">
                <div class="col-sm-12">
                  <p class="error-text" ng-bind-html="'CHECK_DATE_TIME_AGAIN' | translate | html"></p>
                </div>
              </div>

              <div class="form-group">
                <label>{{'LOCATION' | translate}}</label>
                <ui-select ng-model="vm.address.selected" theme="bootstrap" append-to-body="true" reset-search-input="false">
                  <ui-select-match>{{$select.selected.formatted_short_address}}</ui-select-match>
                  <ui-select-choices repeat="address in vm.addresses track by $index" refresh="vm.refreshAddresses($select.search)" refresh-delay="0">
                    <div ng-bind-html="address.formatted_address"></div>
                  </ui-select-choices>
                </ui-select>
                <p ng-show="vm.errors.location && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
              </div>

              <div class="form-group" ng-show="vm.address.selected">
                <hs-event-map place="create-event" locations="[vm.address.selected]" title="{{'EVENT_LOCATION' | translate}}"></hs-event-map>
              </div>
            </div>

            <div class="form-group">
              <label>{{'REPEAT_SCHEDULE' | translate}}</label>
              <div class="radio-l">
                <input id="radio3" type="radio" name="radio" value="radio3" checked="" ng-model="vm.event.isRepeat" ng-value="false">
                <label for="radio3"> {{'ONE_TIME_EVENT' | translate}}</label>
              </div>
              <div class="radio-l">
                <input ng-click="vm.repeatEvent(vm.event.isRepeat)" id="radio4" type="radio" name="radio" value="radio4" ng-model="vm.event.isRepeat" ng-value="true">
                <label for="radio4"> {{'REPEATING_SCHEDULE' | translate}}</label>
              </div>
            </div>

            <div class="form-group relative-div">
              <label>{{'DESCRIPTION' | translate}}</label>
              <textarea class="form-control" rows="5" placeholder="Description" ng-model="vm.event.description" name="description" required></textarea>

              <p ng-show="form.description.$error.required && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
            </div>
          </div>
          <div class="col-lg-6">
          	<div class="form-group">
          		<label>{{'EVENT_BANNER' | translate}}</label>
          		<div class="upload-img-event">
                <table class="table-upload">
                  <tr>
                    <td width="20%">
                      <img src="{{vm.event.banner | imageUrl: 'small'}}" width="100%" ng-show="vm.event.banner && (!vm.newBanner || vm.newBanner.length===0)">
                      <img ngf-src="vm.newBanner[0]" width="100%" ng-show="vm.newBanner.length > 0">
                    </td>
                    <td  class="text-center">
                      <p><a href="#" class="btn btn-danger btn-sm" ngf-select="vm.select($files, 'banner')" ngf-multiple="false" accept="image/*">{{'UPLOAD_PICTURE' | translate}}</a></p>
                      <span ng-bind-html="'FILE_REQUIREMENT' | translate | html"></span>
                    </td>
                  </tr>
                </table>
	          		
          		</div>
          	</div>
            <div class="form-group">
              <label>{{'EVENT_PICTURES' | translate}}</label>
              <div class="upload-img-event">
                
                <div class="row row-small add-picture-more">
                  <div class="col-xs-6 col-sm-3" ng-repeat="photo in vm.event.photosId" >
                    <div class="box-picture-upload relative-div">
                      <a class="box-picture-upload-action" href="#" ng-click="vm.removePhoto(photo, 'photo')"><i class="fa fa-times"></i></a>
                      <img src="{{photo | imageUrl: 'small'}}" width="100%" style="margin-bottom:5px">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3" ng-repeat="file in vm.files" ng-if="file.photoType=='photo'">
                    <div class="box-picture-upload relative-div">
                      <a class="box-picture-upload-action" href="#" ng-click="vm.removePhoto(file, 'file')"><i class="fa fa-times"></i></a>
                      <img ng-show="vm.files.length > 0" style="margin-bottom:5px" ngf-src="file" width="100%">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 text-center">
                  <div class="box-picture-upload-1">
                    <p><a href="#" class="btn btn-danger btn-sm" ngf-select="vm.select($files, 'photo')" ngf-multiple="true" accept="image/*">{{'UPLOAD_PICTURE' | translate}}</a></p>
                        <span ng-bind-html="'FILE_REQUIREMENT' | translate | html"></span>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label ng-bind-html="'ADD_PARTICIPANTS' | translate | html"></label>
              <div class="list-user-add">
                <ul>
                  <li ng-repeat="participant in vm.event.participants">
                    <img src="{{participant | avatarUrl}}">
                    <a href="#">{{participant.name}}</a>
                    <a href="#" class="delete-list" ng-click="vm.removeParticipant($index)"><i class="fa fa-trash-o"></i></a>
                  </li>
                  <li ng-show="vm.event.participants.length==0">
                    {{'EMPTY_PARTICIPANTS' | translate}}
                  </li>
                </ul>
              </div>

              <button class="btn btn-danger btn-sm" type="button" ng-click="vm.showAddParticipantsModal()" ng-bind-html="'ADD_PARTICIPANTS' | translate | html"></button>
            </div>

            <div class="form-group">
              <label>{{'ADD_AWARD' | translate}}</label>
              <div class="add-award-event">
                <div class="row">
                  <div class="col-xs-3 col-sm-2">
                    <img ng-show="vm.event.award" src="{{vm.event.award | eventAwardImageUrl: 'small'}}" width="100%">
                  </div>
                  <div class="col-xs-9 col-sm-10 text-center" style="margin-top: 10px">
                    <button class="btn btn-danger btn-sm" type="button" ng-click="vm.showAddAwardModal()">{{'ADD_AWARD' | translate}}</button>
                  </div>
                </div>
              </div>

              <p ng-show="vm.errors.award && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
            </div>
          </div>
      	</div>
      	<div class="bottom-button">
          <button type="submit" class="btn btn-success btn-radius-20">{{'EDIT_EVENT' | translate}}</button>
          <a ui-sref="event.detail({id: vm.$state.params.id})" class="btn btn-default btn-radius-20">{{'CANCEL' | translate}}</a>
        </div>
      </form>
		</div>
	</div>
</div>