<div class="container">
	<hs-profile-menu-header></hs-profile-menu-header>
	<div class="row">
        <div class="col-sm-4 col-lg-3">
            <div class="box-blue p15 pc-show">
                <div class="img-user-main">
                    <img src="{{vm.authUser | avatarUrl}}" width="100%;">
                    <div class="code-qc">
                        <!-- <img src="images/code.jpg"> -->
                        <!-- <qrcode version="20" error-correction-level="H" data="{{vm.authUser.link}}" href="{{vm.authUser.link}}" size="50"></qrcode> -->
                    </div>
                </div>
                <div class="bottom-user-main">
                    <h3 class="col-sm-9" style="margin-top: 0px">{{vm.authUser.name}}</h3>
                  	<qrcode class="col-sm-3" version="20" error-correction-level="H" data="{{vm.authUser.link}}" href="{{vm.authUser.link}}" size="50"></qrcode>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-lg-9">
            <div class="box-blue">
                <div class="p15">
                	<uib-tabset class="menu-tab">
                		<uib-tab index="0" heading="{{'ACCOUNT_INFORMATION' | translate}}">
                			<div class="tab-content" class="tab-pane">
                				<div class="row">
	                                <div class="col-sm-4">
	                                    <label ng-bind-html="'ADD_OTHER_ACCOUNTS' | translate"></label>
	                                    <div class="sign-social social-account">
	                                        <!-- <a ng-click="vm.addAccount('tw')" href="#" class="twitter-sign"><i class="fa fa-twitter"></i> Twitter </a> -->
	                                        <a ng-click="vm.addAccount('fb')" href="#" class="facebook-sign"><i class="fa fa-facebook"></i> Facebook </a>
	                                        <a ng-click="vm.addAccount('gg')" href="#" class="google-sign"><i class="fa fa-google-plus"></i> Google </a>
	                                    </div>
	                                    <hr>
	                                    <div class="sign-social social-account">
	                                    	<a href="#" class="google-sign" ng-click="vm.deleteAccount()" ng-bind-html="'DELETE_ACCOUNT' | translate | html"></a>
	                                    </div>
	                                </div>
	                                <div class="col-sm-8">
	                                    <div class="form-account" >
	                                        <form ng-submit="vm.updateAccount(form)" name="form" novalidate>
	                                            <div class="row">
	                                                <div class="col-md-6">
	                                                    <div class="form-group">
	                                                        <label>{{'FIRST_NAME' | translate}}</label>
	                                                        <input type="text" class="form-control" ng-model="vm.authUser.firstName" name="firstName" required>

	                                                        <p ng-show="form.firstName.$error.required && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
	                                                    </div>
	                                                </div>
	                                                <div class="col-md-6">
	                                                    <div class="form-group">
	                                                        <label>{{'LAST_NAME' | translate}}</label>
	                                                        <input name="lastName" type="text" class="form-control" ng-model="vm.authUser.lastName" required>

	                                                        <p ng-show="form.lastName.$error.required && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
	                                                    </div>
	                                                </div>
	                                                <div class="col-md-6">
	                                                    <div class="form-group">
	                                                        <label>{{'LOCATION' | translate}}</label>
	                                                        <ui-select ng-model="vm.address.selected" theme="bootstrap" append-to-body="true" reset-search-input="false">
								                              	<ui-select-match placeholder="{{'SELECT_YOUR_LOCATION' | translate}}">{{$select.selected.formatted_address}}</ui-select-match>
								                              	<ui-select-choices repeat="address in vm.addresses track by $index" refresh="vm.refreshAddresses($select.search)" refresh-delay="0">
								                                	<div ng-bind-html="address.formatted_address"></div>
								                              	</ui-select-choices>
								                            </ui-select>

								                            <p ng-show="!vm.address.selected.formatted_address && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
	                                                    </div>
	                                                </div>
	                                                <div class="col-md-6">
	                                                    <div class="form-group">
	                                                        <label>{{'EMAIL' | translate}}</label>
	                                                        <input type="text" name="email" class="form-control" ng-model="vm.authUser.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$">

	                                                        <p ng-show="form.email.$error.required && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
	                                                        <p ng-show="(form.email.$error.pattern || form.email.$error.email) && vm.submitted" class="error-text" ng-bind-html="'EMAIL_TYPE_ERROR' | translate | html"></p>
	                                                    </div>
	                                                </div>
	                                                <div class="col-md-6">
	                                                    <div class="form-group">
	                                                        <label>{{'PHONE' | translate}}</label>
	                                                        <input type="text" class="form-control" ng-model="vm.authUser.phoneNumber">
	                                                    </div>
	                                                </div>
	                                                <div class="col-md-6">
	                                                    <div class="form-group">
	                                                        <label>{{'ZIP_CODE' | translate }}</label>
	                                                        <input type="text" class="form-control" ng-model="vm.authUser.location.zipCode">
	                                                    </div>
	                                                </div>
	                                                <div class="col-md-6">
	                                                    <div class="form-group">
	                                                        <label style="margin-bottom: 10px;" ng-bind-html="'COMPANY_ACCOUNT' | translate | html"></label>
	                                                        <div class="radio-l">
	                                                            <input id="radio1" type="radio" name="radio" ng-value="true" ng-model="vm.authUser.isCompanyAccount">
                                								<label for="radio1"> {{'YES' | translate}}</label>
	                                                        </div>
	                                                        <div class="radio-l">
	                                                            <input id="radio2" type="radio" name="radio" ng-value="false" ng-model="vm.authUser.isCompanyAccount">
                                								<label for="radio2"> {{'NO' | translate}}</label>
	                                                        </div>
	                                                    </div>
	                                                </div>

	                                                <div class="col-md-6">
	                                                    <div class="form-group">
	                                                        <button type="submit" class="btn btn-block btn-success" style="margin-top: 20px;">{{'UPDATE_ACCOUNT' | translate}}</button>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </form>
	                                    </div>
	                                </div>
	                            </div>
                			</div>
                		</uib-tab>
                		<uib-tab index="1" heading="{{'IMAGES_PROFILE' | translate}}">
                			<div role="tabpanel" class="tab-pane" id="profile-img">
	                            <div class="p15">
	                                <div class="upload-img">
	                                    <button type="button" class="uploadimg-a" data-toggle="tooltip" data-placement="top" title="Upload image" ngf-select="vm.upload($files, 'coverPhoto')" accept="image/*"><i class="fa fa-picture-o"></i></button>
	                                    <div class="img-timline bg-cover" style="background-image: url('{{vm.authUser | userBannerUrl}}')"></div>
	                                    <!-- <img src="{{vm.authUser | userBannerUrl}}" width="100%"> -->
	                                    <div class="upload-avatar">
	                                        <button type="button" class="uploadimg-a" data-toggle="tooltip" data-placement="top" title="Upload Avatar" ngf-select="vm.upload($files, 'avatar')" accept="image/*"><i class="fa fa-picture-o"></i></button>
	                                        <img src="{{vm.authUser | avatarUrl}}">
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
                		</uib-tab>
                		<uib-tab index="2">
                			<uib-tab-heading>
                				<span ng-bind-html="'CHANGE_PASSWORD' | translate | html"></span>
            				</uib-tab-heading>
                			<div role="tabpanel" class="tab-pane" id="change-pass">
	                            <form ng-submit="vm.changePassword(changePassForm)" name="changePassForm" novalidate>
	                                <div class="row">
	                                    <div class="col-md-4">
	                                    	<div class="form-group">
	                                            <label>{{'OLD_PASSWORD' | translate}}</label>
	                                            <input type="Password" class="form-control" name="oldpassword" ng-model="vm.oldpassword" required>

	                                            <p ng-show="changePassForm.oldpassword.$error.required && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
	                                        </div>
	                                        <div class="form-group">
	                                            <label>{{'NEW_PASSWORD' | translate}}</label>
	                                            <input type="Password" class="form-control" name="password" ng-model="vm.password" required ng-minlength="6" pattern="^\w*(?=\w*\d)(?=\w*[A-Za-z])\w*$">

	                                            <p ng-show="changePassForm.password.$error.pattern && !changePassForm.password.$error.minlength && vm.submitted" class="error-text">{{'PASSWORD_PATTERN_ERROR' | translate}}</p>
                            					<p ng-show="changePassForm.password.$error.minlength && vm.submitted" class="error-text" ng-bind-html="'PASSWORD_MIN_LENGTH_ERROR' | translate | html"></p>
                            					<p ng-show="changePassForm.password.$error.required && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
	                                        </div>
	                                        <div class="form-group">
	                                            <label ng-bind-html="'CONFIRM_PASSWORD' | translate | html"></label>
	                                            <input type="Password" class="form-control" name="repassword" ng-model="vm.repassword" required compare-to="changePassForm.password.$$rawModelValue">

	                                            <p ng-show="changePassForm.repassword.$error.compareTo && vm.submitted" class="error-text" ng-bind-html="'CONFIRM_PASSWORD_NOT_MATCH' | translate | html"></p>
                            					<p ng-show="(!changePassForm.repassword.$error.compareTo && changePassForm.password.$error.required) && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
	                                        </div>
	                                        <div class="form-group">
	                                            <button class="btn btn-block btn-success">{{'SUBMIT' | translate}}</button>
	                                        </div>
	                                    </div>
	                                </div>
	                            </form>
	                        </div>
                		</uib-tab>
                		<uib-tab index="3" heading="{{'NOTIFICATIONS_SETTING' | translate}}">
                			<div role="tabpanel" class="tab-pane" id="settings">
	                            <table class="table-main">
	                                <tr>
	                                    <td ng-bind-html="'NOTIFICATION_FOR_INVITE_EVENT' | translate | html"></td>
	                                    <td  class="text-right">
	                                        <div class="checkbox-l">
	                                            <input ng-click="vm.notificationSetting('invitedToEvent')" id="checkbox1" type="checkbox" name="checkbox" value="checkbox1" ng-model="vm.authUser.notificationSetting.invitedToEvent">
	                                            <label for="checkbox1"></label>
	                                        </div>
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td ng-bind-html="'NOTIFICATION_FOR_FRIEND_INVITE' | translate | html"></td>
	                                    <td class="text-right">
	                                        <div class="checkbox-l">
	                                            <input ng-click="vm.notificationSetting('friendInvitation')" id="checkbox2" type="checkbox" name="checkbox" value="checkbox2" ng-model="vm.authUser.notificationSetting.friendInvitation">
	                                            <label for="checkbox2"></label>
	                                        </div>
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td>{{'NOTIFICATION_FOR_NEW_POST' | translate}}</td>
	                                    <td  class="text-right">
	                                        <div class="checkbox-l">
	                                            <input ng-click="vm.notificationSetting('newPost')" id="checkbox3" type="checkbox" name="checkbox" value="checkbox3" ng-model="vm.authUser.notificationSetting.newPost">
	                                            <label for="checkbox3"></label>
	                                        </div>
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td>{{'VISIBLE_FRIENDS_LIST' | translate}}</td>
	                                    <td  class="text-right">
	                                        <div class="checkbox-l">
	                                            <input ng-click="vm.notificationSetting('isVisibleFriendsList')" id="checkbox4" type="checkbox" name="checkbox" value="checkbox4" ng-model="vm.authUser.notificationSetting.isVisibleFriendsList">
	                                            <label for="checkbox4"></label>
	                                        </div>
	                                    </td>
	                                </tr>
	                            </table>
	                        </div>
                		</uib-tab>
                		<uib-tab index="4" heading="{{'LANGUAGE_SETTINGS' | translate}}">
                			<div role="tabpanel" class="tab-pane" id="language_settings">
                				<p ng-bind-html="'SELECT_YOUR_LANGUAGE' | translate | html"></p>
                				<div class="form-group">
                					<input type="radio" name="gender" value="en" ng-model="vm.language"> <img src="assets/images/english.png"> <span>{{'ENGLISH' | translate}}</span> <br>
                					<input type="radio" name="gender" value="de" ng-model="vm.language"> <img src="assets/images/german.png"> <span>{{'GERMAN' | translate}}</span> <br>
                				</div>
	                        </div>
                		</uib-tab>
                	</uib-tabset>
                </div>
            </div>
        </div>
    </div>
</div>