  <!-- <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sign up</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="vm.user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.password"
                 ng-minlength="3" required/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-register" type="submit">
            Sign up
          </button>
          <a class="btn btn-default btn-lg btn-login" ui-sref="login">
            Login
          </a>
        </div>

        <hr/>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <oauth-buttons classes="btn-block"></oauth-buttons>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
 -->
 <div class="signup-page">
    <div class="container-fluid">
        <div class="logo-login"><img src="/assets/images/logo-login.png"></div>
        <h1>{{'SIGN_UP' | translate}}</h1>
        <div class="clear"></div>
        <div class="form-signup">
            <form ng-submit="vm.register(form)" name="form" novalidate>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group relative-div">
                            <label>{{'FIRST_NAME' | translate}} *</label>
                            <input type="text" class="form-control" ng-model="vm.user.firstName" name="firstName" required ng-class="{'error-input': form.firstName.$error.required && vm.submitted}">

                            <span class="fa-stack fa-lg sign-up-success-validate " ng-show="!form.firstName.$error.required">
                              <i class="fa fa-circle fa-stack-2x fa-cicle-input"></i>
                              <i class="fa fa-check fa-stack-1x fa-inverse fa-icon-input"></i>
                            </span>

                            <span class="fa-stack fa-lg sign-up-error-validate" ng-show="form.firstName.$error.required && vm.submitted">
                              <i class="fa fa-circle fa-stack-2x fa-cicle-input"></i>
                              <i class="fa fa-times fa-stack-1x fa-inverse fa-icon-input"></i>
                            </span>

                            <p ng-show="form.firstName.$error.required && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group relative-div">
                            <label>{{'LAST_NAME' | translate}} *</label>
                            <input type="text" class="form-control" ng-model="vm.user.lastName" name="lastName" required ng-class="{'error-input': form.lastName.$error.required && vm.submitted}">

                            <span class="fa-stack fa-lg sign-up-success-validate" ng-show="!form.lastName.$error.required">
                              <i class="fa fa-circle fa-stack-2x fa-cicle-input"></i>
                              <i class="fa fa-check fa-stack-1x fa-inverse fa-icon-input"></i>
                            </span>

                            <span class="fa-stack fa-lg sign-up-error-validate" ng-show="form.lastName.$error.required && vm.submitted">
                              <i class="fa fa-circle fa-stack-2x fa-cicle-input"></i>
                              <i class="fa fa-times fa-stack-1x fa-inverse fa-icon-input"></i>
                            </span>

                            <p ng-show="form.lastName.$error.required && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group relative-div">
                            <label>{{'LOCATION' | translate}} *</label>
                            <ui-select ng-model="vm.address.selected" theme="bootstrap" append-to-body="true" reset-search-input="false">
                              <ui-select-match placeholder="{{'SELECT_YOUR_LOCATION' | translate}}">{{$select.selected.formatted_short_address}}</ui-select-match>
                              <ui-select-choices repeat="address in vm.addresses track by $index" refresh="vm.refreshAddresses($select.search)" refresh-delay="0">
                                <div ng-bind-html="address.formatted_address"></div>
                              </ui-select-choices>
                            </ui-select>

                            <span class="fa-stack fa-lg sign-up-success-validate" ng-show="vm.address.selected.formatted_address">
                              <i class="fa fa-circle fa-stack-2x fa-cicle-input"></i>
                              <i class="fa fa-check fa-stack-1x fa-inverse fa-icon-input"></i>
                            </span>

                            <span class="fa-stack fa-lg sign-up-error-validate" ng-show="!vm.address.selected.formatted_address && vm.submitted">
                              <i class="fa fa-circle fa-stack-2x fa-cicle-input"></i>
                              <i class="fa fa-times fa-stack-1x fa-inverse fa-icon-input"></i>
                            </span>

                            <p ng-show="!vm.address.selected.formatted_address && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
                            <!-- <select class="form-control" ng-model="vm.user.location.country"><option>{{'SELECT_LOCATION' | translate}}</option></select> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group relative-div">
                            <label>{{'EMAIL' | translate}} *</label>
                            <input type="email" class="form-control" ng-model="vm.user.email" name="email" required ng-class="{'error-input': (form.email.$error.pattern || form.email.$error.email || form.email.$error.required) && vm.submitted}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$">

                            <span class="fa-stack fa-lg sign-up-success-validate" ng-show="!form.email.$error.pattern && !form.email.$error.email && !form.email.$error.required">
                              <i class="fa fa-circle fa-stack-2x fa-cicle-input"></i>
                              <i class="fa fa-check fa-stack-1x fa-inverse fa-icon-input"></i>
                            </span>

                            <span class="fa-stack fa-lg sign-up-error-validate" ng-show="(form.email.$error.mongoose || form.email.$error.pattern || form.email.$error.email || form.email.$error.required) && vm.submitted">
                              <i class="fa fa-circle fa-stack-2x fa-cicle-input"></i>
                              <i class="fa fa-times fa-stack-1x fa-inverse fa-icon-input"></i>
                            </span>
                            <p ng-show="form.email.$error.pattern || form.email.$error.email && vm.submitted" class="error-text" ng-bind-html="'EMAIL_TYPE_ERROR' | translate | html"></p>
                            <p ng-show="form.email.$error.required && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
                            <p ng-show="form.email.$error.mongoose && vm.submitted" class="error-text">{{'EMAIL_ALREADY_USED' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group relative-div">
                            <label>{{'PHONE' | translate}}</label>
                            <input id="phone" type="text" class="form-control" ng-model="vm.user.phoneNumber" name="phoneNumber" international-phone-number ng-class="{'error-input': form.phoneNumber.$invalid && vm.submitted}">

                            <span class="fa-stack fa-lg sign-up-success-validate" ng-show="!form.phoneNumber.$invalid">
                              <i class="fa fa-circle fa-stack-2x fa-cicle-input"></i>
                              <i class="fa fa-check fa-stack-1x fa-inverse fa-icon-input"></i>
                            </span>

                            <span class="fa-stack fa-lg sign-up-error-validate" ng-show="form.phoneNumber.$invalid && vm.submitted">
                              <i class="fa fa-circle fa-stack-2x fa-cicle-input"></i>
                              <i class="fa fa-times fa-stack-1x fa-inverse fa-icon-input"></i>
                            </span>

                            <p class="error-text" ng-show="form.phoneNumber.$error.pattern" ng-bind-html="'PHONE_NUMBER_TYPE_ERROR' | translate | html"></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group relative-div">
                            <label>{{'ZIP_CODE' | translate}}</label>
                            <input type="text" class="form-control" ng-model="vm.user.location.zipCode" name="zipCode">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group relative-div">
                            <label>{{'PASSWORD' | translate}} * <span class="note-form">6 symbols min</span></label>
                            <input type="password" class="form-control" ng-model="vm.user.password" name="password" required ng-minlength="6" pattern="^\w*(?=\w*\d)(?=\w*[A-Za-z])\w*$" ng-class="{'error-input': (form.password.$error.minlength || form.password.$error.required) && vm.submitted}">

                            <span class="fa-stack fa-lg sign-up-success-validate" ng-show="!form.password.$error.pattern && !form.password.$error.minlength && !form.password.$error.required">
                              <i class="fa fa-circle fa-stack-2x fa-cicle-input"></i>
                              <i class="fa fa-check fa-stack-1x fa-inverse fa-icon-input"></i>
                            </span>

                            <span class="fa-stack fa-lg sign-up-error-validate" ng-show="(form.password.$error.pattern || form.password.$error.minlength || form.password.$error.required) && vm.submitted">
                              <i class="fa fa-circle fa-stack-2x fa-cicle-input"></i>
                              <i class="fa fa-times fa-stack-1x fa-inverse fa-icon-input"></i>
                            </span>

                            <p ng-show="form.password.$error.pattern && !form.password.$error.minlength && vm.submitted" class="error-text">{{'PASSWORD_PATTERN_ERROR' | translate}}</p>
                            <p ng-show="form.password.$error.minlength && vm.submitted" class="error-text" ng-bind-html="'PASSWORD_MIN_LENGTH_ERROR' | translate | html"></p>
                            <p ng-show="form.password.$error.required && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group relative-div">
                            <label ng-bind-html="'CONFIRM_PASSWORD' | translate | html"> *</label>
                            <input type="password" class="form-control" ng-model="vm.user.repassword" name="repassword" required compare-to="form.password.$$rawModelValue" ng-class="{'error-input': (form.repassword.$error.compareTo || form.password.$error.required) && vm.submitted}">

                            <span class="fa-stack fa-lg sign-up-success-validate" ng-show="!form.repassword.$error.compareTo && !form.repassword.$error.required">
                              <i class="fa fa-circle fa-stack-2x fa-cicle-input"></i>
                              <i class="fa fa-check fa-stack-1x fa-inverse fa-icon-input"></i>
                            </span>
                            <span class="fa-stack fa-lg sign-up-error-validate" ng-show="(form.repassword.$error.compareTo || form.repassword.$error.required) && vm.submitted">
                              <i class="fa fa-circle fa-stack-2x fa-cicle-input"></i>
                              <i class="fa fa-times fa-stack-1x fa-inverse fa-icon-input"></i>
                            </span>
                            
                            <p ng-show="form.repassword.$error.compareTo && vm.submitted" class="error-text" ng-bind-html="'CONFIRM_PASSWORD_NOT_MATCH' | translate | html"></p>
                            <p ng-show="(!form.repassword.$error.compareTo && form.password.$error.required) && vm.submitted" class="error-text" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="upper-case" style="margin-bottom: 10px;" ng-bind-html="'COMPANY_ACCOUNT' | translate | html"></label>
                            <div class="radio-l">
                                <input id="radio1" type="radio" name="radio" ng-value="true" ng-model="vm.user.isCompanyAccount">
                                <label for="radio1"> {{'YES' | translate}}</label>
                            </div>
                            <div class="radio-l">
                                <input id="radio2" type="radio" name="radio" ng-value="false" ng-model="vm.user.isCompanyAccount">
                                <label for="radio2"> {{'NO' | translate}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-8 m-top10">
                      <p ng-show="vm.user.isCompanyAccount" class="box-blue p15" ng-bind-html="'COMPANY_ACCOUNT_TEXT_INFO' | translate | html">
                      </p>
                      <!-- <div class="form-group">
                        <input type="checkbox" ng-model="vm.user.term">
                        <a style="color: #FFF" ui-sref="terms">{{'TERM_CONDITION_AGREEMENT' | translate}}</a>
                      </div> -->
                      <p style="color:red" ng-show="vm.errors.emailUsed">{{'EMAIL_ALREADY_USED' | translate}}. {{'PLEASE_CLICK' | translate}} <a style="color:red" ui-sref="forgotPw">{{'HERE' | translate}}</a> <span ng-bind-html="'TO_RESET_PASSWORD' | translate | html"></span></p>
                      <div class="form-group">
                        <label><span class="upper-case">{{'OR' | translate}}</span> {{'SIGN_UP_WITH' | translate}}</label>
                        <oauth-buttons theme="text"></oauth-buttons>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group m-top10">
                            <button type="submit" class="btn btn-block btn-success" style="margin-top: 20px;" ng-bind-html="'GET_STARTED' | translate | html"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>