 <div class="top-detail">
    <div drag-me old-top="100" class="img-timline bg-cover" style="background-image: url('{{vm.event | eventBanner}}')"></div>
    <!-- <div class="event-edit-button" ng-show="vm.event.ownerId._id==vm.authUser._id || vm.event.adminId._id==vm.authUser._id">
        <a class="btn btn-default btn-block" ui-sref="event.edit({id: vm.$stateParams.id})" ng-bind-html="'EDIT_EVENT' | translate"></a>
    </div> -->
    <div class="event-share-button" share-tool-box data="vm.event" type="Event" photo="vm.event.photosId[0]" title="vm.event.name" description="vm.event.description" url="vm.event.url" start-date="vm.event.startDateTime" end-date="vm.event.endDateTime" location="vm.event.location.fullAddress" fb="true" tw="true" gg="true" allow-show="true"  category="vm.event.categoryId">
    </div>
    <div class="text-top-detail">
        <div class="container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <!-- <h2 class="title-detail"><img ng-src="{{vm.event.categoryId | categoryImagePath}}" width="60"> {{vm.event.name}}</h2> -->

                    <div class="event-detail-header-button">
                        <a ng-show="vm.event.ownerId._id===vm.authUser._id" href="#" class="btn btn-default" ng-click="vm.setAdminRole()" ng-bind-html="'SET_ADMIN_FOR_THIS_EVENT' | translate | html"></a>
                        <a ng-show="vm.event.ownerId._id==vm.authUser._id || vm.event.adminId._id==vm.authUser._id" class="btn btn-default" ui-sref="event.edit({id: vm.$stateParams.id})" ng-bind-html="'EDIT_EVENT' | translate"></a>
                        <span ng-if="vm.isNotParticipant() && vm.event.public"><a ng-click="vm.attendEvent()" href="#" class="btn btn-default"><i class="fa fa-user"></i> {{(vm.isInWaitingList()) ? 'WAITING_FOR_ACCEPTANCE' : 'ATTEND' | translate}}</a></span>
                        <!-- we allow for owner leave event and remove it immediately -->
                        <span ng-if="!vm.isNotParticipant() || ( vm.event.ownerId._id!==vm.authUser._id && vm.event.participantsId.length===0 )"><a ng-click="vm.leaveEvent()" href="#" class="btn btn-default"><i class="fa fa-sign-out"></i> {{'LEAVE' | translate}}</a></span>
                        <span ><a href="#" class="btn btn-default" ng-click="vm.like()"><i ng-class="{liked: vm.liked}" class="fa fa-heart"></i> <span ng-bind-html="(vm.liked) ? 'UNLIKE' : 'LIKE' | translate | html"></span></a></span>
                    </div>

                    <!-- <div class="row ">
                        <div class="col-sm-8 col-lg-7">
                            <div class="col-xs-6">
                                <a ng-show="vm.event.ownerId._id===vm.authUser._id" href="#" class="btn btn-default btn-block" ng-click="vm.setAdminRole()" ng-bind-html="'SET_ADMIN_FOR_THIS_EVENT' | translate | html"></a>
                            </div>
                            <div class="col-xs-6" ng-show="vm.event.ownerId._id==vm.authUser._id || vm.event.adminId._id==vm.authUser._id">
                                <a class="btn btn-default btn-block" ui-sref="event.edit({id: vm.$stateParams.id})" ng-bind-html="'EDIT_EVENT' | translate"></a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-5">
                            <div class="row row-small">
                                <div class="col-xs-6" ng-if="vm.isNotParticipant() && vm.event.public"><a ng-click="vm.attendEvent()" href="#" class="btn btn-default btn-block"><i class="fa fa-user"></i> {{(vm.isInWaitingList()) ? 'WAITING_FOR_ACCEPTANCE' : 'ATTEND' | translate}}</a></div>
                                <div class="col-xs-6" ng-if="!vm.isNotParticipant() && vm.event.ownerId._id!==vm.authUser._id"><a ng-click="vm.leaveEvent()" href="#" class="btn btn-default btn-block"><i class="fa fa-sign-out"></i> {{'LEAVE' | translate}}</a></div>
                                <div class="col-xs-6"><a href="#" class="btn btn-default btn-block" ng-click="vm.like()"><i ng-class="{liked: vm.liked}" class="fa fa-heart"></i> <span ng-bind-html="(vm.liked) ? 'UNLIKE' : 'LIKE' | translate | html"></span></a></div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <hs-user-widget u-id="vm.event.ownerId._id"></hs-user-widget>
            <div class="event-award box-blue p15">
                <div class="title-blue">{{'AWARD_DETAIL' | translate}}</div>
                <p>{{vm.event.awardId.objectName}}</p>
                <img width="100%" src="{{vm.event.awardId | eventAwardImageUrl: 'small'}}">
                <p>
                    <span ng-bind-html="'AWARD_TYPE' | translate | html"></span>: <span ng-bind-html="vm.event.awardId.type.toUpperCase() | translate | html"></span>
                </p>
            </div>
            <hs-weather location="vm.event.location"></hs-weather >          
            <hs-event-best-pics e-owner="vm.event.ownerId" e-id="vm.event._id" limit="4"></hs-event-best-pics>          
            <hs-event-map locations="[vm.event.location]" title="{{'EVENT_LOCATION' | translate}}"></hs-event-map>
        </div>
        <div class="col-sm-6">

            <div class="box-blue p15">
                <div style="text-align: right;">
                    <span ng-click="vm.like()"><i class="fa fa-heart" ng-class="{liked: vm.liked}"></i> {{vm.event.totalLike || 0}}</span>
                    <span><i class="fa fa-comment"></i> {{vm.event.totalComment || 0}}</span>
                    <span ng-if="!vm.event.private"><i class="fa fa-unlock"></i> <span ng-bind-html="'PUBLIC_EVENT' | translate | html"></span></span>
                    <span ng-if="vm.event.private"><i class="fa fa-lock"></i> {{'PRIVATE_EVENT' | translate}}</span>
                </div>
                <div class="title-blue">
                    <div class="row">
                        <div class="col-md-9">
                            <img ng-src="{{vm.event.categoryId | categoryImagePath}}" width="40"> <span class="event-title">{{vm.event.name}}</span>
                        </div>
                        <div class="col-md-3">
                            <p ng-show="vm.event.costOfEvent" style="margin-bottom: 0px"><i class="fa fa-money"></i> {{vm.event.amount}} {{vm.event.currency}}</p>
                            <p ng-show="vm.event.repeat.type && vm.event.repeat.type!=='none'"><i class="fa fa-refresh"></i> <span ng-bind-html="vm.event.repeat.type + '_REPEATING' | translate | html"></span></p>
                        </div>
                    </div>
                    <p>
                        <span ng-show="!vm.event.isSameDate"><i class="fa fa-clock-o"></i> 
                            <span ng-show="vm.$localStorage.language==='en'">
                                {{'FROM' | translate }} {{vm.event.startDateTime | hsDate: 'MMMM DD, YYYY HH:mm' | datePickerFilter}} {{'TO' | translate}} {{vm.event.endDateTime | hsDate: 'MMMM DD, YYYY HH:mm' | datePickerFilter}}
                            </span>
                            <span ng-show="vm.$localStorage.language==='de'">
                                {{vm.event.startDateTime | hsDate: 'HH:mm'}} Uhr {{'TO' | translate}} {{vm.event.endDateTime | hsDate: 'HH:mm'}} Uhr vom {{vm.event.startDateTime | hsDate: 'DD'}}. {{vm.event.startDateTime | hsDate: 'MMMM' | datePickerFilter}} {{'TO' | translate}} zum {{vm.event.endDateTime | hsDate: 'DD'}}. {{vm.event.endDateTime | hsDate: 'MMMM' | datePickerFilter}}
                            </span>
                        </span>

                        <span ng-show="vm.event.isSameDate"><i class="fa fa-clock-o"></i> 
                            <span ng-show="vm.$localStorage.language==='en'">
                                {{vm.event.startDateTime | hsDate: 'HH:mm'}}-{{vm.event.endDateTime | hsDate: 'HH:mm'}} {{vm.event.endDateTime | hsDate: 'MMMM DD, YYYY' | datePickerFilter}}
                            </span>
                            <span ng-show="vm.$localStorage.language==='de'">
                                {{vm.event.startDateTime | hsDate: 'HH:mm'}} Uhr {{'TO' | translate}} {{vm.event.endDateTime | hsDate: 'HH:mm'}} Uhr am {{vm.event.endDateTime | hsDate: 'DD'}} {{vm.event.endDateTime | hsDate: 'MMMM' | datePickerFilter}}, {{vm.event.endDateTime | hsDate: 'YYYY'}}
                            </span>
                        </span>
                    </p>
                    
                </div>
                {{vm.event.description}}
            </div>

            <div class="box-blue">
                <div class="form-post">
                    <textarea ng-model="vm.feed.content" placeholder="{{'WRITE_SOMETHING' | translate}}....."></textarea>
                    <div class="row new-feed-preview-images" ng-show="vm.files.length > 0">
                        <div ng-repeat="file in vm.files" class="col-sm-3 relative-div">
                            <img ng-class="{'nude-image': file.nude}" id="{{file.name}}" ngf-thumbnail="file" width="150" height="150">
                            <a class="remove-icon" ng-click="vm.removeImage($index)" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="bottom-post">
                        <a href="#" class="post-picture" ngf-select="vm.select($files)" ngf-multiple="true" accept="image/*"><i class="fa fa-picture-o"></i></a>
                        &nbsp;
                        <p class="new-feed-error" ng-show="vm.errors.content && vm.submitted">{{'FEED_CONTENT_REQUIRED' | translate}}</p>
                        <p class="new-feed-error" ng-show="vm.errors.file && vm.submitted">{{'NUDE_FOUND' | translate}}</p>
                        <button class="btn btn-primary text-to-lowercase" ng-click="vm.createNewFeed(vm.feed)">{{'POST' | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="box-blue box-comment-detail">
                <div class="post-li" ng-repeat="feed in vm.feeds">
                    <div class="img-post-li">
                        <img src="{{feed.ownerId | avatarUrl}}">
                    </div>
                    <div class="content-post-li">
                        <div class="title-post-li">
                            <h4 class="title-generated-home">{{feed.ownerId.name}}
                                <span ng-show="vm.$localStorage.language==='en'" class="date-post">{{feed.createdAt | fromNow | fromNowNumber}} {{feed.createdAt | fromNow | fromNowTranslate | translate}}</span> 

                                <span ng-show="vm.$localStorage.language==='de'" class="date-post">
                                    <span ng-show="feed.createdAt | showAgoTextInDeLanguage">{{'AGO' | translate}}</span>{{feed.createdAt | fromNow | fromNowNumber}} {{feed.createdAt | fromNow | fromNowTranslate | translate}}
                                </span>

                                <div class="action-comment">
                                    <span ng-show="vm.authUser.role==='admin' || vm.authUser._id===vm.event.ownerId._id || vm.authUser._id===vm.event.adminId._id" ng-click="feed.showOption=!feed.showOption" class="comment-option-button"><i class="fa fa-ellipsis-v"></i></span>

                                    <ul ng-mouseleave="feed.showOption = false" class="comment-option" ng-show="feed.showOption">
                                        <li ng-show="vm.authUser.role=='admin' || vm.authUser._id==vm.event.ownerId._id || vm.authUser._id==vm.event.adminId._id" ng-click="vm.blockFeed(feed)">
                                            <span>{{(feed.blocked) ? 'UNBLOCK_FEED' : 'BLOCK_FEED' | translate}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </h4>
                        </div>
                        <div class="content-post-li" ng-show="!feed.blocked" ng-bind-html="feed.content | nl2br | html"></div>
                        <div class="content-post-li" ng-show="feed.blocked">
                            {{'THIS_FEED_HAS_BLOCKED' | translate}}
                        </div>
                        <div class="img-content-post" ng-show="!feed.blocked">
                            <div class="row row-small">
                                <div ng-mouseover="photo.showBlock=true" ng-mouseleave="photo.showBlock=false" class="relative-div" ng-class="{'col-xs-6': feed.photosId.length > 1, 'col-xs-12': feed.photosId.length==1}" ng-repeat="photo in feed.photosId" ng-show="!photo.blocked || vm.event.ownerId._id==vm.authUser._id || vm.authUser.role=='admin' || vm.authUser._id==vm.event.adminId._id">
                                    <a href ng-click="vm.viewPhoto(photo, feed._id)">
                                        <div class="bg-cover " style="background-image: url({{photo | imageUrl: 'medium'}}); height: 150px"></div>
                                        <a ng-click="vm.blockPhoto(photo)" ng-show="photo.showBlock && (vm.authUser._id==vm.event.ownerId._id || vm.authUser.role=='admin' || vm.authUser._id==vm.event.adminId._id)" href="#" class="block-photo-btn">
                                            <span ng-show="photo.blocked">{{'UNBLOCK_PHOTO' | translate}}</span>
                                            <span ng-show="!photo.blocked">{{'BLOCK_PHOTO' | translate}}</span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <like-comment-share ng-show="!feed.blocked" data="feed" type="Feed" event-owner="vm.event.ownerId" event-admin="vm.event.adminId">
                </div>
                <div ng-show="vm.feeds.length < vm.pageSize">
                    <a href="#" ng-click="vm.loadMoreFeeds()">
                        {{'LOAD_MORE_FEED' | translate}}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <hs-event-attending e-id="vm.event._id" e-owner="vm.event.ownerId" e-admin="vm.event.adminId" e-award="vm.event.awardId"></hs-event-attending>
            <div ng-show="!vm.isNotParticipant()" class="box-blue"><a href="#" class="btn btn-primary btn-block white-color" u-id="vm.authUser._id" e-id="vm.event._id" hs-event-invite><i class="user-i-1 i-new"></i> {{'INVITE_FRIEND' | translate}} </a></div>

            <hs-event-waiting-participants e-owner="vm.event.ownerId" e-admin="vm.event.adminId" e-id="vm.event._id"></hs-event-waiting-participants>

            <hs-related-events e-id="vm.event._id"></hs-related-events>
            <div class="box-blue"><a hs-report id="vm.event._id" type="Event" href="#" class="btn btn-primary btn-block white-color"><i class="fa fa-file-text-o"></i> {{'REPORT_EVENT' | translate}}</a></div>
        </div>
    </div>
</div>