 <div class="top-detail">
    <div class="img-timline bg-cover" style="background-image: url('assets/images/img-pro1.jpg')"></div>
    <div class="text-top-detail">
        <div class="container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <h2 class="title-detail"><img src="assets/images/star1.png" width="60"> {{vm.event.name}}</h2>
                    <div class="row ">
                        <div class="col-sm-6 col-lg-8">
                            <div class="action-event">
                                <span><i class="fa fa-user"></i> by {{vm.event.ownerId.name}}</span>
                                <span><i class="fa fa-clock-o"></i> {{vm.event.createdAt | hsDate: 'MMMM DD, YYYY HH:mm a'}}</span>
                                <span><i class="fa fa-heart"></i> 0</span>
                                <span><i class="fa fa-comment"></i> 0</span>
                                <span ng-if="!event.private"><i class="fa fa-unlock"></i> Public Event</span>
                                <span ng-if="event.private"><i class="fa fa-lock"></i> Private Event</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="row row-small">
                                <div class="col-xs-7"><a href="#" class="btn btn-default btn-block"><i class="user-i i-new"></i> Invite your friends </a></div>
                                <div class="col-xs-5"><a href="#" class="btn btn-default btn-block" ng-if="vm.isNotParticipant()"><i class="fa fa-plus"></i> Attend</a></div>
                                 <div class="col-xs-5"><a href="#" class="btn btn-default btn-block" ng-if="!vm.isNotParticipant()"><i class="fa fa-user"></i> Attended</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
        <hs-user-widget u-id="vm.event.ownerId._id"></hs-user-widget>
        
        <hs-event-best-pics e-id="vm.event._id" limit="4"></hs-event-best-pics>          

        <hs-event-map locations="[vm.event.location]"></hs-event-map>

        </div>
        <div class="col-sm-6">

            <div class="box-blue p15">
                <div class="title-blue">Event Detail</div>
                {{vm.event.description}}
            </div>


            <div class="box-blue">
                <div class="form-post">
                    <textarea placeholder="Write something....."></textarea>
                    <div class="bottom-post">
                        <a href="#" class="post-picture"><i class="fa fa-picture-o"></i></a>
                        &nbsp;
                        <button class="btn btn-primary">Post</button>
                    </div>
                </div>
            </div>
            <div class="box-blue">
                <div class="post-li">
                    <div class="img-post-li">
                        <img src="assets/images/48.jpg">
                    </div>
                    <div class="content-post-li">
                        <div class="title-post-li">
                            <h4 class="title-generated-home">Mollie Richardson @Mollie <span class="date-post">3m</span> </h4>
                        </div>
                        <div class="content-post-li">
                            I shared this on my fb wall a few months back, and I thought I'd share it here again because it's such a great read. "You already found your passion.” You are just ignoring it. The problem isn't passion. It's never passion. It's priorities.
                        </div>
                        <div class="img-content-post">
                            <div class="row row-small">
                                <div class="col-xs-6">
                                    <div class="bg-cover " style="background-image: url('assets/images/photo.jpg'); height: 100px"></div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="bg-cover " style="background-image: url('assets/images/photo1.jpg'); height: 100px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-li-post">
                        <div class="pull-left">
                            <a href="#"><i class="fa fa-heart-o active"></i> 12</a>
                            <a href="#"><i class="fa fa-comments"></i> 30</a>
                            <a href="#"><i class="fa fa-reply"></i> 10</a>
                        </div>
                    </div>

                </div>


                <div class="post-li">
                    <div class="img-post-li">
                        <img src="assets/images/48.jpg">
                    </div>
                    <div class="content-post-li">
                        <div class="title-post-li">
                            <h4 class="title-generated-home">Mollie Richardson @Mollie <span class="date-post">5m</span> </h4>
                        </div>
                        <div class="content-post-li">
                            This is such a beautiful detail on iBooks.
                        </div>

                    </div>
                    <div class="bottom-li-post">
                        <div class="pull-left">
                            <a href="#"><i class="fa fa-heart-o"></i> 12</a>
                            <a href="#"><i class="fa fa-comments"></i> 30</a>
                            <a href="#"><i class="fa fa-reply"></i> 10</a>
                        </div>
                    </div>
                </div>

                <div class="post-li">
                    <div class="img-post-li">
                        <img src="assets/images/48.jpg">
                    </div>
                    <div class="content-post-li">
                        <div class="title-post-li">
                            <h4 class="title-generated-home">Mollie Richardson @Mollie <span class="date-post">12m</span> </h4>
                        </div>
                        <div class="content-post-li">
                            I shared this on my fb wall a few months back, and I thought I'd share it here again because it's such a great read. "You already found your passion.” You are just ignoring it. The problem isn't passion. It's never passion. It's priorities.
                        </div>
                        <div class="img-content-post">
                            <div class="row row-small">
                                <div class="col-xs-6">
                                    <div class="bg-cover " style="background-image: url('assets/images/photo2.jpg'); height: 100px"></div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="bg-cover " style="background-image: url('assets/images/img3.jpg'); height: 100px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-li-post">
                        <div class="pull-left">
                            <a href="#"><i class="fa fa-heart-o"></i> 12</a>
                            <a href="#"><i class="fa fa-comments"></i> 30</a>
                            <a href="#"><i class="fa fa-reply active"></i> 10</a>
                        </div>
                    </div>


                </div>


            </div>
        </div>
        <div class="col-sm-3">
            <hs-event-attending e-id="vm.event._id"></hs-event-attending>
            <hs-related-events e-id="vm.event._id"></hs-related-events>
        </div>
    </div>
</div>