{% extends 'layouts/default.html' %}

{% block content %}

<!-- english section -->
{% if language==='en' %}
<div>
	<p>Hello <%= user.name%> <img style="border-radius: 50px; vertical-align: middle" width="30px" src="<%= userAvatar %>">, you received a new message</p>
	
	<p>The event admin <img style="border-radius: 50px; vertical-align: middle" width="30px" src="<%= ownerAvatar %>"> changed the timing or location of the following event:</p>

	<div>
		<div style="width: 50%; float: left; text-align: center">
			<img src="<%= eventThumbnail %>">
			<p><%= event.name %></p>
			<p><%= eventDateTime %></p>
			<p><%= event.location.fulladdress %></p>
		</div>
		<div style="width: 50%; float: left; text-align: center">
			<a style="padding: 10px; color: #fff; background-color: blue; display: inline-block; margin-bottom: 10px" href="<%= url %>">Visit the event</a>
			<br>
			<a style="padding: 10px; color: #fff; background-color: blue; display: inline-block;" href="#">I do not want to receive notifications like this</a>
		</div>
		<div style="clear:both;"></div>
	</div>

	<p>This message was sent to <%= user.email %></p>

	{% include './includes/english-footer.html' %}
</div>
{% endif %}

<!-- german section -->
{% if language==='de' %}
<div>
	<p>Hallo <%= user.name%> <img style="border-radius: 50px; vertical-align: middle" width="30px" src="<%= userAvatar %>">, du hast eine neue Nachricht</p>
	
	<p>The event admin <img style="border-radius: 50px; vertical-align: middle" width="30px" src="<%= ownerAvatar %>"> Änderte das Timing oder den Ort des folgenden Ereignisses:</p>

	<div>
		<div style="width: 50%; float: left; text-align: center">
			<img src="<%= eventThumbnail %>">
			<p><%= event.name %></p>
			<p><%= eventDateTime %></p>
			<p><%= event.location.fullAddress %></p>
		</div>
		<div style="width: 50%; float: left; text-align: center">
			<a style="padding: 10px; color: #fff; background-color: blue; display: inline-block; margin-bottom: 10px" href="<%= url %>">Besuchen Sie die Veranstaltung</a>
			<br>
			<a style="padding: 10px; color: #fff; background-color: blue; display: inline-block;" href="#">Ich möchte keine Benachrichtigungen erhalten</a>
		</div>
		<div style="clear:both;"></div>
	</div>

	<p>Diese nachricht wurde gesendet <%= user.email %></p>

	{% include './includes/german-footer.html' %}
</div>
{% endif %}

{% endblock %}