<div class="bottom-li-post">
  <div class="pull-left">
    <a href="#" ng-click="vm.like()"><i class="fa fa-heart-o" ng-class="{active: vm.data.liked}"></i> {{vm.data.totalLike || 0}}</a>
		<a href="#" ng-click="vm.showComments()"><i class="fa fa-comments"></i> {{vm.data.totalComment || 0}}</a>
		<a href="#"><i class="fa fa-reply"></i> {{vm.data.totalShare || 0}}</a>
  </div>
</div>

<div class="replies-post" ng-show="vm.data.showComment">
  <ul>
    <li>
      <div class="post-li" ng-repeat="comment in vm.data.comments">
        <div class="img-post-li">
          <img ng-src="{{comment.ownerId | avatarUrl}}" style="width: 40px; height: 40px">
        </div>
        <div class="content-post-li">
          <div class="title-post-li">
            <h4 class="title-generated-home">{{comment.ownerId.name}}
              <span class="date-post">{{comment.createdAt | fromNow}}</span> 
              <span ng-click="comment.showOption=!comment.showOption" class="comment-option-button"><i class="fa fa-ellipsis-v"></i></span>
              <ul class="comment-option" ng-show="comment.showOption && !comment.deleted">
                <li ng-click="comment.isEdit=!comment.isEdit; comment.showOption=false">{{'EDIT_COMMENT' | translate}}</li>
                <li ng-click="vm.deleteComment(comment)">{{'DELETE_COMMENT' | translate}}</li>
              </ul>
            </h4>
          </div>
          <div class="content-post-li">
            <span ng-show="!comment.isEdit">{{(comment.deleted) ? 'This comment was deleted.' :comment.content}}</span>
            <input class="input-edit-comment" ng-show="comment.isEdit" type="text" ng-model="comment.content" ng-blur="vm.editComment(comment)">
          </div>
        </div>
      </div>
      <div class="load-more" ng-hide="vm.data.comments.length === vm.pageSize" ng-click="vm.loadMore()">
        {{'LOAD_MORE_COMMENT' | translate}}
      </div>
    </li>
    <li>
      <div class="post-li">
        <div class="img-post-li">
          <img ng-src="{{vm.authUser | avatarUrl}}" style="width: 40px; height: 40px">
        </div>
        <div class="content-post-li">
          <div class="replies-form">
            <textarea class="form-control" placeholder="Write a reply..." id="reply-textarea" ng-model="vm.comment.content"></textarea>
            <a href="#" class="replies-img-a" ng-click="vm.postComment(vm.comment)"><i class="fa fa-share"></i></a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>