<div>
    <div class="m20 calendar-home date-picker">
        <a href="#" style="text-align: center" class="create-event" ng-click="clear()" ng-bind-html="'CLEAR_SEARCH_DATE' | translate | html"></a>
        <uib-datepicker ng-model='uibDt' multi-select='selectedDates' template-url='app/search/templates/multi-datepicker.tpl.html'></uib-datepicker>
        <!-- <div class='input-group date'>
            <input type="text" class="form-control" uib-datepicker-popup ng-model="uibDt" is-open="opened" datepicker-options="options" ng-required="true" close-text="Close" value="{{dt.join(', ')}}" />
            <span class="input-group-addon">
                <button type="button" class="btn btn-default" ng-click="opened=!opened"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div> -->
    </div> 
    <!-- <div class="calendar-home m20">
        <div style="margin-bottom: 5px"></div>
        <button ng-style="style" class="btn btn-primary" ng-click="filter()">Filter</button>
        <button class="btn btn-default" ng-click="clear()">Clear</button>
    </div> -->

    
</div>

