
<div class="pc-show">
    <div class="m20">
        <div class='input-group date'>
            <input type='text' class="form-control" ng-disabled="true" value="{{ dt | date: 'dd/MM/yyyy'}}"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="calendar-home m20">
        <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
        <button ng-style="style" class="btn btn-primary" ng-click="filter()">Filter</button>
        <button class="btn btn-default" ng-click="clear()">Clear</button>
    </div>
</div>