<div class="top-detail">
	<div class="img-timline bg-cover" style="background-image: url('{{vm.user | userBannerUrl}}')"></div>
	<div class="text-top-detail">
		<div class="container">
			<div class="row">
				<div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <h2 class="title-detail">{{vm.user.name}}</h2>
                    <div class="row ">
                        <div class="col-sm-4 col-lg-7">
                            <div class="last-online">{{'LAST_ONLINE' | translate}} <i class="fa fa-clock-o"></i>  {{vm.user.lastAccess | fromNow}}</div>
                        </div>
                        <div class="col-sm-8 col-lg-5">
                            <div class="row row-small action-user-detail" ng-show="vm.authUser._id!==vm.user._id">
                                <div class="col-xs-6"><a ng-click="vm.addFriend()" href="#" class="btn btn-default btn-block">
                                    <span ng-show="vm.user.isFriend==='none'"><i class="user-i i-new"></i> {{'ADD_TO_FRIENDS' | translate}}</span>
                                    <span ng-show="vm.user.isFriend==='pending'"><i class="fa fa-spinner"></i> {{'PENDING_FRIEND_REQUEST' | translate}}</span>
                                    <span ng-show="vm.user.isFriend==='completed'"><i class="fa fa-check"></i> {{'FRIEND' | translate}}</span>
                                </a></div>
                                <div class="col-xs-3"><a ng-click="vm.follow()" href="#" class="btn btn-default btn-block">
                                    <span ng-show="vm.user.isFollow==='none'"><i class="fa fa-rss"></i> {{'FOLLOW' | translate}}</span>
                                    <span ng-show="vm.user.isFollow==='completed'"><i class="fa fa-rss"></i> {{'UNFOLLOW' | translate}}</span>
                                </a></div>
                                <div class="col-xs-3"><a ng-click="vm.sendMessage()" href="#" class="btn btn-default btn-block"><i class="fa fa-envelope-o"></i> {{'MESSAGE' | translate}}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>

<div class="content-home">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <hs-user-widget u-id="vm.user._id"></hs-user-widget>
                <div class="box-blue p15">
                    <ul class="list-info-user">
                        <li><i class="map-i i-new"></i>  {{vm.user.location.fullAddress}}</li>
                        <li><i class="business-i i-new"></i>  {{vm.user.job}}</li>
                        <li><i class="achive-i i-new"></i>  {{vm.user.posts || 0}} {{'EVENTS' | translate}}</li>
                    </ul>
                </div>
                <div class="box-blue p15">
                    <div class="title-blue">{{vm.user.name}} {{'PHOTOS' | translate}} <a ui-sref="profile.photos({id: vm.user._id})" class="show-all-box">{{'SHOW_ALL' | translate}}</a></div>
                    <ul class="row row-small list-photo">
                    	<li class="col-xs-6" ng-repeat="photo in vm.photos.items">
	                    	<a href="#" ng-click="vm.viewPhoto(photo)"><div class="bg-cover" style="background-image: url('{{photo | imageUrl:'small'}}')"></div></a>
	                	</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box-blue">
                    <div class="form-post">
                        <textarea ng-model="vm.feed.content" placeholder="Write something....."></textarea>
                        <div class="row new-feed-preview-images" ng-show="vm.files.length > 0">
	                        <div ng-repeat="file in vm.files" class="col-xs-4 col-sm-4 col-lg-3 relative-div">
	                            <img ng-class="{'nude-image': file.nude}" id="{{file.name}}" ngf-thumbnail="file" width="150" height="150">
	                            <a class="remove-icon" ng-click="vm.removeImage($index)" href="#"><i class="fa fa-times"></i></a>
	                        </div>
	                    </div>
                        <div class="bottom-post">
                        	<a href="#" class="post-picture" ngf-select="vm.select($files)" ngf-multiple="true" accept="image/jpg"><i class="fa fa-picture-o"></i></a>
	                        &nbsp;
	                        <p class="new-feed-error" ng-show="vm.errors.content && vm.submitted">{{'FEED_CONTENT_REQUIRED' | translate}}</p>
	                        <p class="new-feed-error" ng-show="vm.errors.file && vm.submitted">{{'NUDE_FOUND' | translate}}</p>
	                        <button class="btn btn-primary" ng-click="vm.createNewFeed(vm.feed)">{{'POST' | translate}}</button>
                        </div>
                    </div>
                </div>
                <div class="box-blue box-comment-detail">
                    <div class="post-li" ng-repeat="feed in vm.feeds.items">
                        <div class="img-post-li">
                            <img src="{{feed.ownerId | avatarUrl}}">
                        </div>
                        <div class="content-post-li">
                            <div class="title-post-li">
                                <h4 class="title-generated-home">{{feed.ownerId.name}}
                                    <span class="date-post">{{feed.createdAt | fromNow}}</span> 
                                    <div class="action-comment">
                                        <span ng-click="feed.showOption=!feed.showOption" class="comment-option-button"><i class="fa fa-ellipsis-v"></i></span>
                                        <ul ng-mouseleave="feed.showOption = false" class="comment-option" ng-show="feed.showOption">
                                            <li ng-show="vm.authUser.role=='admin' || vm.authUser._id==vm.user._id" ng-click="vm.blockFeed(feed)">
                                                <span>{{(feed.blocked) ? 'UNBLOCK_FEED' : 'BLOCK_FEED' | translate}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </h4>
                            </div>
                            <div class="content-post-li" ng-show="!feed.blocked">
                                {{feed.content}}
                            </div>
                            <div class="content-post-li" ng-show="feed.blocked">
                                {{'THIS_FEED_HAS_BLOCKED' | translate}}
                            </div>
                            <div class="img-content-post" ng-show="!feed.blocked">
                                <div class="row row-small">
                                    <div ng-mouseover="photo.showBlock=true" ng-mouseleave="photo.showBlock=false" class="relative-div" ng-class="{'col-xs-6': feed.photosId.length > 1, 'col-xs-12': feed.photosId.length==1}" ng-repeat="photo in feed.photosId" ng-show="!photo.blocked || vm.user._id==vm.authUser._id || vm.authUser.role=='admin'">
	                                    <a href ng-click="vm.viewPhoto(photo, feed._id)">
	                                        <div class="bg-cover " style="background-image: url({{photo | imageUrl: 'medium'}}); height: 150px"></div>
	                                        <a ng-click="vm.blockPhoto(photo)" ng-show="photo.showBlock && (vm.authUser._id==vm.user._id || vm.authUser.role=='admin')" href="#" class="block-photo-btn">
	                                            <span ng-show="photo.blocked">{{'UNBLOCK_PHOTO' | translate}}</span>
	                                            <span ng-show="!photo.blocked">{{'BLOCK_PHOTO' | translate}}</span>
	                                        </a>
	                                    </a>
	                                </div>
                                </div>
                            </div>
                        </div>
                        <like-comment-share ng-show="!feed.blocked" data="feed" type="Feed" event-owner="vm.user._id">
                    </div>
                    <div ng-show="vm.feeds.items < vm.feeds.totalItem">
	                    <a href="#" ng-click="vm.loadMoreFeeds()">
	                        {{'LOAD_MORE_FEED' | translate}}
	                    </a>
	                </div>
                </div>
            </div>
            <div class="col-sm-3">

                <div class="box-blue p15">
                    <hs-user-friends u-id="vm.user._id"></hs-user-friends>
                </div>

                <div class="box-blue p15">
                    <div class="title-blue">{{vm.user.name}} {{'EVENTS' | translate}} <a ng-click="vm.showAllEvents()" href="#" class="show-all-box">{{'SHOW_ALL' | translate}}</a></div>
                    <ul class="list-my-event">
                        <li ng-repeat="event in vm.events.items">
                            <p><a ui-sref="event.detail({id: event._id})">{{event.name}}</a></p>
                            {{event.endDateTime | date: 'MMMM dd,yyyy'}} / {{'Comments' | translate}} {{event.totalComment || 0}}
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>