<div class="page-content">
	<div>
		<h4>{{'PHOTOS_LSIT' | translate}}</h4>
	</div>

	<div class="row">
		<div class="col-sm-8 col-xs-12">
			<select class="col-sm-3" ng-model="vm.selectedFilterType">
				<option ng-value="type.value" ng-repeat="type in vm.filterTypes">{{type.text | translate}}</option>
			</select>
			<div class="col-sm-1"></div>
			<input class="col-sm-8" type="text" ng-model="vm.searchText[vm.selectedFilterType]">
		</div>
		<div class="col-sm-4 col-xs-12">
			<label>
	      <input type="checkbox" ng-model="vm.showBlockedPhotos">
	      {{'SHOW_BLOCKED' | translate}} {{'PHOTOS' | translate}}
	    </label>
		</div>
	</div>

	<div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td><strong>{{'PHOTO_OWNER_NAME' | translate}}</strong></td>
					<td><strong>{{'EVENT_NAME' | translate}}</strong></td>
					<td><strong>{{'PREVIEW_IMAGE' | translate}}</strong></td>
					<td>
						<strong>
							<a href="#" ng-click="vm.sortType='createdAt'; vm.sortReverse=!vm.sortReverse">
								{{'CREATED_AT' | translate}}
								<span ng-show="vm.sortType == 'createdAt' && !vm.sortReverse" class="fa fa-caret-down"></span>
	          		<span ng-show="vm.sortType == 'createdAt' && vm.sortReverse" class="fa fa-caret-up"></span>
							</a>
						</strong>
					</td>
					<td><strong>{{'BLOCKED_STATUS' | translate}}</strong></td>
					<td><strong>{{'ACTION' | translate}}</strong></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="photo in vm.photos.items | filter: vm.searchText[vm.selectedFilterType] | showBlocked: vm.showBlockedPhotos | orderBy: vm.sortType: vm.sortReverse">
					<td>{{photo.ownerId.name}}</td>
					<td>{{photo.event.name}}</td>
					<td><img src="{{photo | imageUrl: 'small'}}"></td>
					<td>{{photo.createdAt | date: 'HH:mm'}} {{photo.createdAt | date: 'dd-MMMM-yyyy'}}</td>
					<td>{{(photo.blocked) ? 'TRUE' : 'FALSE' | translate}}</td>
					<td>
						<a uib-tooltip="{{(!photo.blocked) ? 'Block this photo' : 'Unblock this photo'}}" href="#" ng-click="vm.block(photo)"><i class="fa" ng-class="{'fa-eye': !photo.blocked, 'fa-eye-slash': photo.blocked}"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="vm.photos.items.length < vm.photos.totalItem">
		<a ng-click="vm.loadMore()" href="#">{{'LOAD_MORE_PHOTOS' | translate}}</a>
	</div>
</div>