<div class="login-page">
  <div class="container-fluid">
  <div class="logo-login"><img src="/assets/images/logo-login.png"></div>
  <div class="box-login">
      <form class="form-login" ng-submit="vm.login(form)" name="form" novalidate>
          <h2><span>{{'SIGN_IN' | translate}}</span></h2>
          <div class="form-group" ng-class="{'has-error': (form.email.$error.email || form.email.$error.required) && vm.submitted}">
              <label>{{'USERNAME_EMAIL' | translate}}</label>
              <input type="email" ng-model="vm.user.email" class="form-control" placeholder="Your Username" required name="email">

              <label ng-show="form.email.$error.email && vm.submitted" class="help-block">{{'EMAIL_TYPE_ERROR' | translate}}</label>
              <label ng-show="form.email.$error.required && vm.submitted" class="help-block">{{'REQUIRED_ERROR' | translate}}</label>
          </div>
          <div class="form-group" ng-class="{'has-error': form.password.$error.required && vm.submitted}">
              <label>{{'PASSWORD' | translate}}</label>
              <input type="password" ng-model="vm.user.password" class="form-control" placeholder="Your Password" required name="password">

              <label ng-show="form.password.$error.required && vm.submitted" class="help-block">{{'REQUIRED_ERROR' | translate}}</label>
          </div>
          <div class="form-group has-error" ng-show="vm.errors.error">
            <label class="help-block">{{'SIGN_IN_ERROR' | translate}}</label>
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-lg btn-primary btn-block">{{'SIGN_IN' | translate}}</button>
          </div>
          <a href="#" ui-sref="forgotPw" class="forgot-pass">{{'FORGOT_PASSWORD' | translate}}</a>
          <div class="or-login"><span>{{'OR' | translate}}</span></div>
          <oauth-buttons theme="icon"></oauth-buttons>
      </form>
      <div class="text-center">
      {{'NOT_REGISTERED' | translate}}? <a href="#" ui-sref="register">{{'REGISTER' | translate}}</a>
      </div>
  </div>
  </div>
</div>
