<div class="modal-header">
	<h3 class="modal-title">{{'CREATE_NEW_CATEGORY' | translate}}</h3>
</div>

<form ng-submit="submit(form)" name="form" novalidate>
  <div class="modal-body">
	  <div class="form-group">
	  	<label>{{'CATEGORY_NAME' | translate}}</label>
	    <input type="text" class="form-control" ng-model="category.name" required name="name">
	    <p class="error" ng-show="submitted && form.name.$error.required">{{'REQUIRED_ERROR' | translate}}</p>
	  </div>
	  <div class="form-group">
	  	<label>{{'CATEGORY_DESCRIPTION' | translate}}</label>
	    <input type="text" class="form-control" ng-model="category.description" required name="description">
	    <p class="error" ng-show="submitted && form.description.$error.required">{{'REQUIRED_ERROR' | translate}}</p>
	  </div>
	  <div class="form-group">
	  	<label>{{'CATEGORY_TYPE' | translate}}</label>
	    <input type="text" class="form-control" ng-model="category.newType" required name="type">
	    <p class="error" ng-show="submitted && form.type.$error.required">{{'REQUIRED_ERROR' | translate}}</p>
	  </div>

	  <div class="upload-img-event">
	    <div class="row">
	      <div class="col-xs-3">
	        <img ng-show="file.name" style="margin-bottom:5px" ngf-src="file" width="100%">
	        <img ng-show="!file.name" style="margin-bottom:5px" src="{{category | categoryImagePath}}" width="100%">
	      </div>
	      <div class="col-xs-9 text-center ng-binding">
	        <p><a href="#" class="btn btn-danger" ngf-select="select($file)" ngf-multiple="false" accept="image/*">{{'UPLOAD_PICTURE' | translate}}</a></p>
	        {{'FILE_REQUIREMENT' | translate}}
	      </div>
	    </div>
	  </div>
  </div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-success btn-radius-20">{{'SUBMIT' | translate}}</button>
		<button ng-click="close()" type="button" class="btn btn-default btn-radius-20">{{'CANCEL' | translate}}</button>
	</div>    
</form>

