<div class="box-1 m20" ng-show="friendsEvents.items.length > 0">
  <div class="title-box-1">{{'EVENTS_LIST' | translate}}</div>
  <div class="body-box-1 event-home-right">
  	<ul class="event-list">
  		<li class="{{event.categoryId | categoryClass}}" ng-repeat="event in friendsEvents.items">
  			<div class="top-li-event">
          <a ui-sref="profile.detail({id: event.ownerId._id})"><img src="{{event.ownerId | avatarUrl}}"></a>
          <h4><a ui-sref="profile.detail({id: event.ownerId._id})">{{event.ownerId.name}} &nbsp;</a></h4>
          <i class="fa fa-clock-o"></i> {{event.createdAt | fromNow}}
          <div class="arward-li-top">
            <span>{{event.ownerId.totalAwards || 0}}</span>
            <i class="fa fa-trophy"></i>
          </div>
        </div>
        <div class="text-li-event">
          <h3 style="cursor:pointer" ui-sref="event.detail({id: event._id})">{{event.name}}</h3>
          <i class="fa fa-calendar"></i> {{event.startDateTime | date : 'dd.MM.yyyy'}}  <i class="fa fa-clock-o"></i> {{event.startDateTime | date: 'HH:mm'}}<br>
          <div class="li-friend-event">
            <i class="fa fa-user-plus"></i>
            <ul>
                <li ng-repeat="participant in event.participantsId | limitTo: 5"><a ui-sref="profile.detail({id: participant._id})"><img src="{{participant | avatarUrl}}"></a></li>
                <li ng-show="event.participantsId.length - 5 > 0"><a href="#" class="number-friend-event">+{{event.participantsId.length -5}}</a></li>
            </ul>
          </div>
        </div>
  		</li>
      <li style="text-align: center" ng-show="friendsEvents.items.length < friendsEvents.totalItem">
        <a class="white-color" href="#" ng-click="loadMore()">{{'LOAD_MORE_EVENTS' | translate}}</a>
      </li>
  	</ul>
  </div>
</div>
