<div class="page-content">
	<div>
		<h4>{{'COMPANY_REQUESTS' | translate}}</h4>
	</div>

	<div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>
						<strong>
							<a href="#" ng-click="vm.sortType='ownerId.name'; vm.sortReverse=!vm.sortReverse">
								{{'USER_NAME' | translate}}
								<span ng-show="vm.sortType == 'ownerId.name' && !vm.sortReverse" class="fa fa-caret-down"></span>
      					<span ng-show="vm.sortType == 'ownerId.name' && vm.sortReverse" class="fa fa-caret-up"></span>
							</a>
						</strong>
					</td>
					<td><strong>{{'EMAIL' | translate}}</strong></td>
					<td><strong>{{'USER_AVATAR' | translate}}</strong></td>
					<td>
						<strong>
							<a href="#" ng-click="vm.sortType='createdAt'; vm.sortReverse=!vm.sortReverse">
								{{'CREATED_AT' | translate}}
								<span ng-show="vm.sortType == 'createdAt' && !vm.sortReverse" class="fa fa-caret-down"></span>
      					<span ng-show="vm.sortType == 'createdAt' && vm.sortReverse" class="fa fa-caret-up"></span>
							</a>
						</strong>
					</td>
					<td><strong>{{'ACTION' | translate}}</strong></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="!vm.search.search" ng-repeat="item in vm.requests.items | orderBy: vm.sortType: vm.sortReverse">
					<td>{{item.ownerId.name}}</td>
					<td>{{item.ownerId.email}}</td>
					<td>
						<img src="{{item.ownerId | avatarUrl}}" width="100">
					</td>
					<td>{{item.createdAt | date: 'HH:mm'}} {{item.createdAt | date: 'dd-MMMM-yyyy'}}</td>
					<td>
						<a uib-tooltip="{{'ACCEPT_REQUEST' | translate}}" href="#" ng-click="vm.acceptRequest(item)"><i class="fa fa-check"></i></a>
						<a uib-tooltip="{{'REJECT_REQUEST' | translate}}" href="#" ng-click="vm.rejectRequest(item)"><i class="fa fa-times"></i></a>
					</td>
				</tr>

				<!-- search -->
				<tr ng-show="vm.search.search" ng-repeat="user in vm.search.items | orderBy: vm.sortType: vm.sortReverse">
					<td>{{user.name}}</td>
					<td>{{user.email}}</td>
					<td>
						<img src="{{user | avatarUrl}}" width="100">
					</td>
					<td>{{user.createdAt | date: 'HH:mm'}} {{user.createdAt | date: 'dd-MMMM-yyyy'}}</td>
					<td>
						<a uib-tooltip="{{(!user.blocked.status) ? 'BLOCK_USER' : 'UNBLOCK_USER' | translate}}" href="#" ng-click="vm.blockUser(user)"><i class="fa" ng-class="{'fa-lock': !user.blocked.status, 'fa-unlock': user.blocked.status}"></i></a>
						<a uib-tooltip="{{'VIEW_USER_DETAIL' | translate}}" href="/profile/{{user._id}}/detail" target="_blank"><i class="fa fa-eye"></i></a>
						<a href="#" ng-click="vm.editUserInfo(user)"><i class="fa fa-pencil"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-show="vm.requests.items.length < vm.requests.totalItem && !vm.search.search">
		<a ng-click="vm.getRequest()" href="#">{{'LOAD_MORE_REQUESTS' | translate}}</a>
	</div>
</div>