<div class="modal-header">
	<h3 class="modal-title" ng-bind-html="'SELECT_AWARD_FOR_EVENT' | translate | html"></h3>
</div>
<div class="modal-body">
	<form ng-submit="vm.submit()" name="form">
    <h4>{{'AWARDS_LIST' | translate}}</h4>
    <div class="form-group">
      <div class="radio" ng-repeat="award in vm.awards">
        <label><input type="radio" name="awardRadio" ng-checked="award.select" ng-click="vm.selectAward(award)">{{award.objectName}}</label>
      </div>
    </div>
		<div class="modal-footer">
      <button type="button" class="btn btn-default btn-radius-20" ng-click="vm.showAddMoreAwardModal()" ng-bind-html="'ADD_MORE_AWARD' | translate | html"></button>
			<button type="submit" class="btn btn-success btn-radius-20"  ng-bind-html="'SUBMIT' | translate | html"></button>
		</div>    
  </form>
</div>
