<div class="modal-header">
	<h3 class="modal-title" ng-bind-html="'ADD_PARTICIPANTS' | translate | html"></h3>
</div>
<div class="modal-body">
	<form ng-submit="vm.submit()" name="form">
    <h4>{{'FRIENDS_LIST' | translate}}</h4>
    <div class="form-group">
      <div class="checkbox" ng-repeat="friend in vm.friends">
        <label><input type="checkbox" ng-checked="friend.select" ng-click="friend.select=!friend.select">
          <img width="40" style="border-radius: 50%" src="{{friend | avatarUrl}}"> {{friend.name}}
        </label>
      </div>
    </div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success btn-radius-20"  ng-bind-html="'SUBMIT' | translate | html"></button>
		</div>    
  </form>
</div>
