<div class="modal-header">
	<h3 class="modal-title">{{'REPEAT_SCHEDULE' | translate}}</h3>
</div>
<div class="modal-body">
	<form ng-submit="vm.submit(form)" name="form">
    <div class="form-group">
      <label>{{'REPEAT' | translate}}:</label>
      <select class="form-control" ng-model="vm.repeat.type" required>
        <option value="daily">{{'DAILY' | translate}}</option>
        <option value="weekly">{{'WEEKLY' | translate}}</option>
        <option value="monthly">{{'MONTHLY' | translate}}</option>
        <option value="yearly">{{'YEARLY' | translate}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>{{'START' | translate}}:</label>
      <input type="date" class="form-control" ng-model="vm.repeat.startDate">
    </div>
    <div class="form-group">
      <label>{{'END' | translate}}:</label>
      <div class="form-group">
        <div class="input-group date">
          <input type="date" class="form-control" id="datetimepicker3" placeholder="Date" ng-model="vm.repeat.endDate" required>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success btn-radius-20">{{'SUBMIT' | translate}}</button>
		</div>    
  </form>
</div>
