<div class="modal-header">
	<h3 class="modal-title">{{'REPEAT_SCHEDULE' | translate}}</h3>
</div>
<div class="modal-body">
	<form ng-submit="vm.submit(form)" name="form" novalidate>
    <div class="form-group">
      <label>{{'REPEAT' | translate}}:</label>
      <select class="form-control" ng-model="vm.repeat.type" required>
        <option value="daily">{{'DAILY' | translate}}</option>
        <option value="weekly">{{'WEEKLY' | translate}}</option>
        <option value="monthly">{{'MONTHLY' | translate}}</option>
      </select>
      <p class="error-text" ng-show="vm.errors.type">{{'REQUIRED_ERROR' | translate}}</p>
    </div>
    <div class="form-group">
      <label>{{'START' | translate}}:</label>
      <input type="date" name="startDate" class="form-control" ng-model="vm.repeat.startDate" required>

      <p class="error-text" ng-show="form.startDate.$error.required && vm.submitted">{{'REQUIRED_ERROR' | translate}}</p>
    </div>
    <div class="form-group">
      <label>{{'END' | translate}}:</label>
      <input type="date" name="endDate" class="form-control" ng-model="vm.repeat.endDate" required>

      <p class="error-text" ng-show="vm.errors.date">{{'NOT_VALID_FIELD' | translate}}</p>
      <p class="error-text" ng-show="form.endDate.$error.required && vm.submitted">{{'REQUIRED_ERROR' | translate}}</p>
    </div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success btn-radius-20">{{'SUBMIT' | translate}}</button>
		</div>    
  </form>
</div>
