<div class="modal-header">
	<h3 class="modal-title">{{'CROP_IMAGE' | translate}}</h3>
</div>
<div class="modal-body">
	<div class="cropArea">
		{{CropImage.aspectRatio}}
		<img-crop image="CropImage.file | ngfDataUrl" area-type="{{CropImage.cropType}}" area-coords="CropImage.coords" result-image-size="CropImage.imageSize" result-image="CropImage.myCroppedImage" ng-init="CropImage.myCroppedImage=''" aspect-ratio="CropImage.aspectRatio" init-max-area="true"></img-crop>
	</div>
	<div class="modal-footer">
		<button ng-click="CropImage.submit()" type="button" class="btn btn-success btn-radius-20" ng-bind-html="'APPLY' | translate | html"></button>
		<button ng-click="CropImage.close()" type="button" class="btn btn-default btn-radius-20" ng-bind-html="'CLOSE' | translate | html"></button>
	</div>    
</div>
