$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.venue-box {
	.location-dropdown {
		position: relative;
	    padding-left: 28%;
    	margin-right: 25%;
    
		ul.dropdown-menu {
			display: block;
			width: 100%;
			li {
				a {
					  text-overflow: ellipsis;
   				  overflow: hidden;
				}
			}
		}
	}
}

@font-face {
  font-family: 'weathericons';
  src: url('/bower_components/weather-icons/font/weathericons-regular-webfont.eot');
  src: url('/bower_components/weather-icons/font/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/bower_components/weather-icons/font/weathericons-regular-webfont.woff2') format('woff2'), url('/bower_components/weather-icons/font/weathericons-regular-webfont.woff') format('woff'), url('/bower_components/weather-icons/font/weathericons-regular-webfont.ttf') format('truetype'), url('/bower_components/weather-icons/font/weathericons-regular-webfont.svg#weather_iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.iti-flag {
	background: url('/bower_components/intl-tel-input/build/img/flags.png')
}
// Component styles are injected through grunt
/* inject:scss */
/* endinject */
