<div class="title-blue">{{'FRIENDS' | translate}} ({{friends.totalItem}}) <a ui-sref="profile.friends({id: uId})" href="#" class="show-all-box grey-color">{{'SHOW_ALL' | translate}}</a></div>
<ul class="list-media list-friend list-friend-1">
    <li ng-repeat="friend in friends.items | limitTo: 5 | orderBy: 'online'" ng-class="{'no-online': !friend.online}">
        <div class="img-media">
            <a href="#"><img src="{{friend | avatarUrl}}"></a>
        </div>
        <h4><a href="#" ui-sref="profile.detail({id: friend._id})">{{friend.name}}</a></h4>
        <span class="text-mo" ng-show="hideDescription">
            &nbsp;
        </span>
        <span class="text-mo" ng-show="authUser._id===friend._id && !hideDescription">
        	{{'YOU' | translate}}
        </span>
        <span class="text-mo" ng-show="authUser._id!==friend._id && !hideDescription">
        	<span style="cursor: pointer" ng-click="addFriend(friend)" ng-show="friend.currentFriendStatus==='none'" ng-bind-html="'ADD_FRIEND' | translate | html"></span>
        	<span ng-show="friend.currentFriendStatus==='pending'">{{'PENDING_FRIEND_REQUEST' | translate}}</span>
        	<span ng-show="friend.currentFriendStatus==='completed'">{{'YOUR_FRIEND' | translate}}</span>
        </span>
    </li>
</ul>