<div class="page-content">
  <div class="portlet box green">
    <div class="portlet-title">
      <div class="caption">
        {{'EDIT_EVENT' | translate}}
      </div>
    </div>
    <div class="portlet-body form">
      <form class="form-horizontal" ng-submit="vm.edit(form)" name="form" novalidate>
        <div class="form-body">
          <h3></h3>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group" ng-class="{'has-error': form.name.$error.required && vm.submitted}">
                <label class="control-label col-md-3">{{'EVENT_TITLE' | translate}}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" ng-model="vm.event.name" name="name" required>
                  <span ng-show="form.name.$error.required && vm.submitted" class="help-block">{{'REQUIRED_ERROR' | translate}}</span>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error': vm.errors.category && vm.submitted}">
                <label class="control-label col-md-3">{{'CATEGORY' | translate}} </label>
                <div class="col-md-9">
                  <div class="radio-list">
                    <label class="radio-inline" ng-repeat="category in vm.categories">
                      <div class="radio">
                        <span><input id="{{category._id}}" type="radio" name="category" value="{{category._id}}" ng-model="vm.event.categoryId"></span>
                        <img width="30" src="{{category | categoryImagePath}}" > {{category.name}}
                      </div>
                    </label>
                  </div>
                  <span ng-show="vm.errors.category && vm.submitted" class="help-block">{{'REQUIRED_ERROR' | translate}}</span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3">{{'EVENT_TYPE' | translate}}</label>
                <div class="col-md-9">
                  <div class="radio-list">
                    <label class="radio-inline">
                      <div class="radio">
                        <span><input id="radio1" ng-model="vm.event.public" type="radio" name="eventtype" checked="" value="radio1" ng-value="true"></span>
                        <label for="radio1"> {{'PUBLIC' | translate}}</label>
                      </div>
                    </label>
                    <label class="radio-inline">
                      <div class="radio">
                        <span><input id="radio2" ng-model="vm.event.public" type="radio" name="eventtype" ng-value="false" value="radio2"></span>
                        <label for="radio2"> {{'PRIVATE' | translate}}</label>
                      </div>
                    </label>
                  </div>
                </div>
              </div>

              <!-- <div class="form-group">
                <label class="control-label col-md-3">{{'EVENT_BLOCKED' | translate}}</label>
                <div class="col-md-9">
                  <div class="radio-list">
                    <label class="radio-inline">
                      <div class="radio">
                        <span><input id="radio3" ng-model="vm.event.blocked" type="radio" name="eventblocked" checked="" value="radio3" ng-value="true"></span>
                        <label for="radio3"> {{'TRUE' | translate}}</label>
                      </div>
                    </label>
                    <label class="radio-inline">
                      <div class="radio">
                        <span><input id="radio4" ng-model="vm.event.blocked" type="radio" name="eventblocked" ng-value="false" value="radio4"></span>
                        <label for="radio4"> {{'FALSE' | translate}}</label>
                      </div>
                    </label>
                  </div>
                </div>
              </div> -->

              <div class="form-group" ng-class="{'has-error': vm.errors.dateTime && vm.submitted}">
                <label class="col-md-12">{{'EVENT_INFORMATION' | translate}}</label>
                <div class="row" ng-class="{'has-error' : vm.errors.startDateTime && vm.submitted}">
                  <label class="control-label col-md-2">{{'FROM' | translate}}</label>
                  <div class="col-sm-5">
                    <div class="form-group">
                      <div class="input-group date">
                        <input type="text" class="form-control" id="datetimepicker1" placeholder="Date" ng-model="vm.event.startDate" required name="startDate" uib-datepicker-popup="{{'dd-MMMM-yyyy'}}" is-open="vm.isOpenFromDate" datepicker-options="vm.options">
                        <span class="input-group-addon" ng-click="vm.isOpenFromDate=!vm.isOpenFromDate">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-group">
                      <div class="input-group date" ng-click="vm.startTimeOpen=!vm.startTimeOpen">
                        <input type="text" class="form-control" id="datetimepicker2" placeholder="Time" ng-model="vm.event.startTimeFormatted" required name="startTime">
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                      </div>

                      <div ng-show="vm.startTimeOpen" class="absolute-timepicker">
                        <uib-timepicker ng-mouseleave="vm.startTimeOpen = false" required name="startTime" ng-model="vm.event.startTime" show-meridian="false"></uib-timepicker>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <span ng-show="vm.errors.startDateTime && vm.submitted" class="help-block">{{'REQUIRED_ERROR' | translate}}</span>
                  </div>
                </div>

                <div class="row" ng-class="{'has-error': vm.errors.endDateTime && vm.submitted}">
                  <label class="control-label col-md-2">{{'TO' | translate}}</label>
                  <div class="col-sm-5">
                    <div class="form-group">
                      <div class="input-group date">
                        <input type="text" class="form-control" id="datetimepicker3" placeholder="Date" ng-model="vm.event.endDate" required name="endDate" uib-datepicker-popup="{{'dd-MMMM-yyyy'}}" is-open="vm.isOpenToDate" datepicker-options="vm.options">
                        <span class="input-group-addon" ng-click="vm.isOpenToDate=!vm.isOpenToDate">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-group relative-div">
                      <div class="input-group date" ng-click="vm.endTimeOpen=!vm.endTimeOpen">
                        <input type="text" class="form-control" id="datetimepicker4" placeholder="Time" ng-model="vm.event.endTimeFormatted" required name="endTime">
                        <span class="input-group-addon">
                          <span class="fa fa-clock-o"></span>
                        </span>
                      </div>

                      <div ng-show="vm.endTimeOpen" class="absolute-timepicker">
                        <uib-timepicker ng-mouseleave="vm.endTimeOpen = false" required name="endTime" ng-model="vm.event.endTime" show-meridian="false"></uib-timepicker>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12" ng-show="vm.errors.endDateTime && vm.submitted">
                    <span class="help-block">{{'REQUIRED_ERROR' | translate}}</span>
                  </div>
                </div>

                <div class="col-sm-12" ng-show="vm.errors.dateTime && vm.submitted">
                  <p class="help-block">{{'CHECK_DATE_TIME_AGAIN' | translate}}</p>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error': vm.errors.location && vm.submitted}">
                <label class="control-label col-md-3">{{'LOCATION' | translate}}</label>
                <div class="col-md-9">
                  <ui-select ng-model="vm.address.selected" theme="bootstrap" append-to-body="true" reset-search-input="false">
                    <ui-select-match>{{$select.selected.formatted_short_address}}</ui-select-match>
                    <ui-select-choices repeat="address in vm.addresses track by $index" refresh="vm.refreshAddresses($select.search)" refresh-delay="0">
                      <div ng-bind-html="address.formatted_address"></div>
                    </ui-select-choices>
                  </ui-select>
                  <span ng-show="vm.errors.location && vm.submitted" class="help-block">{{'REQUIRED_ERROR' | translate}}</p>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3">{{'REPEAT_SCHEDULE' | translate}}</label>
                <div class="col-md-9">
                  <div class="radio-list">
                    <label class="radio-inline">
                      <div class="radio">
                        <span><input id="radio5" type="radio" name="radio" value="radio3" checked="" ng-model="vm.event.isRepeat" ng-value="false"></span>
                        <label for="radio5"> {{'ALL_DAY' | translate}}</label>
                      </div>
                    </label>
                    <label class="radio-inline">
                      <div class="radio">
                        <span><input id="radio6" type="radio" name="radio" value="radio4" ng-model="vm.event.isRepeat" ng-value="true"></span>
                        <label for="radio6"> {{'REPEAT' | translate}}</label>
                      </div>
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error': form.description.$error.required && vm.submitted}">
                <label class="control-label col-md-3">{{'DESCRIPTION' | translate}}</label>
                <div class="col-md-9">
                  <textarea class="form-control" rows="5" placeholder="Description" ng-model="vm.event.description" name="description" required></textarea>

                  <span ng-show="form.description.$error.required && vm.submitted" class="help-block">{{'REQUIRED_ERROR' | translate}}</span>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="control-label col-md-3">{{'EVENT_BANNER' | translate}}</label>
                <div class="col-md-9">
                  <table class="table-upload">
                    <tr>
                      <td width="20%">
                        <img src="{{vm.event.banner | imageUrl: 'small'}}" width="100%" ng-show="vm.event.banner && (!vm.newBanner || vm.newBanner.length===0)">
                        <img ngf-src="vm.newBanner[0]" width="100%" ng-show="vm.newBanner.length > 0">
                      </td>
                      <td  class="text-center">
                        <p><a href="#" class="btn btn-danger btn-sm" ngf-select="vm.select($files, 'banner')" ngf-multiple="false" accept="image/*">{{'UPLOAD_PICTURE' | translate}}</a></p>
                        {{'FILE_REQUIREMENT' | translate}}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3">{{'EVENT_PICTURES' | translate}}</label>
                <div class="col-md-9">
                  <div class="row row-small add-picture-more">
                    <div class="col-xs-6 col-sm-3" ng-repeat="photo in vm.event.photosId" >
                      <div class="box-picture-upload relative-div">
                        <a class="box-picture-upload-action" href="#" ng-click="vm.removePhoto(photo, 'photo')"><i class="fa fa-times"></i></a>
                        <img src="{{photo | imageUrl: 'small'}}" width="100%" style="margin-bottom:5px">
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3" ng-repeat="file in vm.files" ng-if="file.photoType=='photo'">
                      <div class="box-picture-upload relative-div">
                        <a class="box-picture-upload-action" href="#" ng-click="vm.removePhoto(file, 'file')"><i class="fa fa-times"></i></a>
                        <img ng-show="vm.files.length > 0" style="margin-bottom:5px" ngf-src="file" width="100%">
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 text-center">
                    <div class="box-picture-upload-1">
                      <p><a href="#" class="btn btn-danger btn-sm" ngf-select="vm.select($files, 'photo')" ngf-multiple="true" accept="image/*">{{'UPLOAD_PICTURE' | translate}}</a></p>
                          {{'FILE_REQUIREMENT' | translate}}
                        </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3">{{'ADD_PARTICIPANTS' | translate}}</label>
                <div class="col-md-9">
                  <ul>
                    <li ng-repeat="participant in vm.event.participants">
                      <img src="images/user.jpg">
                      <a href="#">{{participant.name}}</a>
                      <a href="#" class="delete-list" ng-click="vm.removeParticipant($index)"><i class="fa fa-trash-o"></i></a>
                    </li>
                    <li ng-show="vm.event.participants.length==0">
                      {{'EMPTY_PARTICIPANTS' | translate}}
                    </li>
                  </ul>
                  <button class="btn btn-danger btn-sm" type="button" ng-click="vm.showAddParticipantsModal()">{{'ADD_PARTICIPANTS' | translate}}</button>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error': vm.errors.award && vm.submitted}">
                <label class="col-md-3 control-label">{{'ADD_AWARD' | translate}}</label>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-xs-3 col-sm-2">
                      <img ng-show="vm.event.award" src="{{vm.event.award | eventAwardImageUrl: 'small'}}" width="100%">
                    </div>
                    <div class="col-xs-9 col-sm-10 text-center" style="margin-top: 10px">
                      <button class="btn btn-danger btn-sm" type="button" ng-click="vm.showAddAwardModal()">{{'ADD_AWARD' | translate}}</button>
                    </div>
                  </div>
                  <span ng-show="vm.errors.award && vm.submitted" class="help-block">{{'REQUIRED_ERROR' | translate}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions right">
          <button type="submit" class="btn blue">{{'EDIT_EVENT' | translate}}</button>
          <a ui-sref="backend.event.list" class="btn default">{{'CANCEL' | translate}}</a>
        </div>
      </form>
    </div>
  </div>
</div>