<div class="header header-page">
    <div class="container-fluid">
        <div class="logo"><a ui-sref="home"><img src="/assets/images/logo.png"></a></div>

        <div class="menu">
            <a href="#" class="toggle-menu" ng-click="dropdowmenu = !dropdowmenu"><i class="fa fa-bars"></i></a>
            <ul ng-class="{'toogle-menu': dropdowmenu}">
                <li>
                    <a ui-sref="profile.home">
                        <i class="fa fa-home"></i> {{'MENU_HOME' | translate}}
                        <span ng-show="vm.totalNotifications > 0" class="total-notification">{{vm.totalNotifications}}</span>
                    </a>
                </li>
                <li><a ui-sref="home"><i class="fa fa-calendar-check-o"></i> {{'MENU_EVENTS' | translate}}</a></li>
                <li><a ui-sref="about"><i class="fa fa-exclamation-circle"></i> <span ng-bind-html="'MENU_ABOUT' | translate | html"></span></a></li>
                <li class="profile-top" uib-dropdown>
                    <a href="#" uib-dropdown-toggle><img ng-src="{{vm.user | avatarUrl}}"><i class="fa fa-angle-down"></i></a>
                    <ul uib-dropdown-menu>
                        <li><a ui-sref="profile.home"><i class="fa fa-home"></i> <span>{{'MENU_HOME' | translate}}</span></a></li>
                        <li><a ui-sref="profile.myCalendar"><i class="fa fa-calendar"></i> <span>{{'MENU_MY_CALENDAR' | translate}}</span></a></li>
                        <li><a ui-sref="profile.myAward"><i class="fa fa-trophy"></i> <span>{{'MENU_MY_AWARDS' | translate}}</span></a></li>
                        <li><a ui-sref="profile.myMessages"><i class="fa fa-envelope-o"></i> <span>{{'MENU_MY_MESSENGER' | translate}}</span></a></li>
                        <li><a ui-sref="profile.detail({id: vm.user._id})"><i class="fa fa-heartbeat"></i> <span>{{'HEALTH_PROFILE' | translate}} </span></a></li>
                        <li><a ui-sref="profile.mySetting"><i class="fa fa-cog"></i> <span>{{'MENU_SETTINGS' | translate}}</span></a></li>
                        <!-- Multiple language -->
                        <!-- <li><a href="#" ng-click="vm.changeLanguage('en')"><img src="assets/images/english.png"> <span>{{'ENGLISH' | translate}}</span></a></li>
                        <li><a href="#" ng-click="vm.changeLanguage('de')"><img src="assets/images/german.png"> <span>{{'GERMAN' | translate}}</span></a></li> -->
                        <!-- End multiple language -->
                        <li><a href="#" ui-sref="logout"><i class="fa fa-sign-out"></i> <span>{{'MENU_LOGOUT' | translate}}</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="search-top">
            <search-input></search-input>
        </div>

    </div>
</div>