<div class="page-content">
	<div>
		<h4>{{'AWARDS_LIST' | translate}}</h4>
	</div>

	<div class="row">
		<div class="col-sm-8 col-xs-12">
			<select class="col-sm-3" ng-change="vm.changeFilter(vm.selectedFilterType)" ng-model="vm.selectedFilterType">
				<option ng-value="type.value" ng-repeat="type in vm.filterTypes">{{type.text | translate}}</option>
			</select>
			<div class="col-sm-1"></div>
			<input class="col-sm-8" type="text" ng-model="vm.searchText[vm.selectedFilterType]">
		</div>
		<div class="col-sm-4 col-xs-12">
			<label>
	      <input type="checkbox" ng-model="vm.showBlockedAwards">
	      {{'SHOW_BLOCKED' | translate}} {{'AWARDS' | translate}}
	    </label>
		</div>
	</div>

	<div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td><strong>{{'AWARD_TITLE' | translate}}</strong></td>
					<td><strong>{{'AWARD_TYPE' | translate}}</strong></td>
					<td><strong>{{'PHOTO_OWNER_NAME' | translate}}</strong></td>
					<td><strong>{{'EVENT_NAME' | translate}}</strong></td>
					<td><strong>{{'PREVIEW_IMAGE' | translate}}</strong></td>
					<td>
						<strong>
							<a href="#" ng-click="vm.sortType='createdAt'; vm.sortReverse=!vm.sortReverse">
								{{'CREATED_AT' | translate}}
								<span ng-show="vm.sortType == 'createdAt' && !vm.sortReverse" class="fa fa-caret-down"></span>
	          		<span ng-show="vm.sortType == 'createdAt' && vm.sortReverse" class="fa fa-caret-up"></span>
							</a>
						</strong>
					</td>
					<td><strong>{{'BLOCKED_STATUS' | translate}}</strong></td>
					<td><strong>{{'ACTION' | translate}}</strong></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="award in vm.awards.items | filter: vm.searchText[vm.selectedFilterType] | showDeleted: vm.showBlockedAwards | orderBy: vm.sortType: vm.sortReverse">
					<td>{{award.objectName}}</td>
					<td>{{award.type}}</td>
					<td>{{award.ownerId.name}}</td>
					<td>{{award.event.name}}</td>
					<td><img width="150" src="{{award.objectPhotoId | imageUrl: 'small'}}"></td>
					<td>{{award.createdAt | date: 'HH:mm'}} {{award.createdAt | date: 'dd-MMMM-yyyy'}}</td>
					<td>{{(award.deleted) ? 'TRUE' : 'FALSE' | translate}}</td>
					<td>
						<a ng-show="!award.deleted" uib-tooltip="{{(!award.deleted) ? 'BLOCK_AWARD' : 'UNBLOCK_AWARD' | translate}}" href="#" ng-click="vm.block(award)"><i class="fa" ng-class="{'fa-trash-o': !award.deleted, 'fa-eye-slash': award.deleted}"></i></a>
						<a ng-show="!award.deleted" href="#" ng-click="vm.edit(award)"><i class="fa fa-edit"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="vm.awards.items.length < vm.awards.totalItem">
		<a ng-click="vm.loadMore()" href="#">{{'LOAD_MORE_AWARDS' | translate}}</a>
	</div>
</div>