<div class="container">
	<hs-profile-menu-header></hs-profile-menu-header>

	<div class="row">
        <div class="col-sm-3 col-lg-2">
            <div class="box-blue m20">
                <!-- <img src="assets/images/calendar.jpg" width="100%"> -->
            </div>
            <a ng-click="vm.syncGoogleCalendar()" href="#" class="btn btn-primary btn-block">{{'GOOGLE_CALENDAR' | translate}}</a>
            <a ng-click="vm.syncFacebookCalendar()" href="#" class="btn btn-primary btn-block">{{'FACEBOOK_CALENDAR' | translate}}</a>
        </div>
        <div class="col-sm-9 col-lg-10">
            <div class="box-blue p15">
                <div class="title-blue">{{'MENU_MY_CALENDAR' | translate}}</div>
                <div id="calendar" ui-calendar="vm.uiConfig.calendarConfig" ng-model="vm.eventSources" calendar="calendar">
            </div>
        </div>
    </div>
</div>