<div class="modal-header">
	<h3 class="modal-title">{{'EDIT_AWARD' | translate}}</h3>
</div>

<form ng-submit="submit(form)" name="form">
  <div class="modal-body">
    <div class="form-group">
    	<label>{{'AWARD_TITLE' | translate}}</label>
      <input type="text" class="form-control" ng-model="award.objectName" required>
    </div>

    <div class="form-group">
    	<label ng-bind-html="'AWARD_TYPE' | translate | html"></label>
    	<select required ng-model="award.type" class="form-control dropdown-toggle">
    		<option ng-repeat="type in types" ng-selected="type.value==award.type" value="{{type.value}}" ng-bind-html="type.value.toUpperCase() | translate | html">
        </option>
    	</select>
    </div>
    
    <div class="form-group">
      <label ng-bind-html="'ALLOWANCE_TO_GRANT_THE_AWARD' | translate | html"></label>
      <div class="radio-l" ng-repeat="type in allowToUseTypes">
        <input id="{{type}}" type="radio" name="category" value="{{type}}" ng-model="award.allowToUseType">
        <label for="{{type}}"> 
          <span ng-bind-html="type.toUpperCase() | translate | html"></span>
        </label>
      </div>
    </div>

    <div class="form-group" ng-show="award.allowToUseType==='friend'">
      <ui-select multiple tagging tagging-label="false" ng-model="award.allowToUse" theme="bootstrap">
        <ui-select-match placeholder="{{'TO' | translate}}">{{$item.name}}</ui-select-match>
        <ui-select-choices repeat="user in friends">
          {{user.name}}
        </ui-select-choices>
      </ui-select>
      <p class="error-text" ng-show="submitted && (!award.allowToUse || award.allowToUse.length===0)">{{'PLEASE_SELECT_TO_PEOPLE' | translate}}</p>
    </div>

    <div class="upload-img-event">
      <div class="row">
        <div class="col-xs-3">
          <img ng-show="file.name" style="margin-bottom:5px" ngf-src="file" width="100%">
          <img ng-show="!file.name" src="{{award | eventAwardImageUrl: 'small'}}" width="100%">
        </div>
        <div class="col-xs-9 text-center ng-binding">
          <p><a href="#" class="btn btn-danger" ngf-select="select($file)" ngf-multiple="false" accept="image/*">{{'UPLOAD_PICTURE' | translate}}</a></p>
          <span ng-bind-html="'FILE_REQUIREMENT' | translate | html"></span>
        </div>
      </div>
    </div>
  </div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-success btn-radius-20"  ng-bind-html="'SUBMIT' | translate | html"></button>
		<button ng-click="closeModal()" type="button" class="btn btn-default btn-radius-20">{{'CANCEL' | translate}}</button>
	</div>    
</form>