<div class="container">
	<div class="row">
		<div class="col-sm-8 col-lg-9">
			<div class="box-blue p15">
				<div class="title-blue">{{'CREATE_EVENT' | translate}}</div>
        <form ng-submit="vm.create(form)" name="form" novalidate>
  				<div class="row form-event">
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{'EVENT_TITLE' | translate}}</label>
                <input type="text" class="form-control" ng-model="vm.event.name" required>
              </div>
              <div class="form-group">
                <label>{{'CATEGORY' | translate}} </label>
                <div class="choose-category">
                  <div class="radio-l" ng-repeat="category in vm.categories">
                    <input id="{{category._id}}" type="radio" name="category" value="{{category._id}}" ng-model="vm.event.categoryId">
                    <label for="{{category._id}}"> <img ng-src="{{category | categoryImagePath}}" ></label>
                  </div>
                  <!-- <div class="radio-l">
                    <input id="radio-food" type="radio" name="category" value="radio-food">
                    <label for="radio-food"> <img src="/assets/images/star1.png" ></label>
                  </div>
                  <div class="radio-l">
                    <input id="radio-social" type="radio" name="category" value="radio-social">
                    <label for="radio-social"> <img src="/assets/images/star2.png" ></label>
                  </div>
                  <div class="radio-l">
                    <input id="radio-eco" type="radio" name="category" value="radio-eco">
                    <label for="radio-eco"> <img src="/assets/images/star3.png" ></label>
                  </div>
                  <div class="radio-l">
                    <input id="radio-action" type="radio" name="category" value="radio-action" >
                    <label for="radio-action"> <img src="/assets/images/star4.png" ></label>
                  </div> -->
                </div>
              </div>
              <div class="form-group">
                <label>{{'EVENT_TYPE' | translate}}</label>
                <div class="radio-l">
                  <input id="radio1" ng-model="vm.event.public" type="radio" name="eventtype" checked="" value="radio1" ng-value="true">
                  <label for="radio1"> {{'PUBLIC' | translate}}</label>
                </div>
                <div class="radio-l">
                  <input id="radio2" ng-model="vm.event.public" type="radio" name="eventtype" ng-value="false" value="radio2">
                  <label for="radio2"> {{'PRIVATE' | translate}}</label>
                </div>
              </div>
              <div class="form-group event-info-form">
                <label>{{'EVENT_INFORMATION' | translate}}</label>
                <div class="row">
                  <div class="col-sm-2" style="margin-top: 5px">{{'FROM' | translate}}</div>
                  <div class="col-sm-5">
                    <div class="form-group">
                      <div class="input-group date">
                        <input type="date" class="form-control" id="datetimepicker1" placeholder="Date" ng-model="vm.event.startDate">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-group">
                      <div class="input-group date">
                        <input type="time" class="form-control" id="datetimepicker2" placeholder="Time" ng-model="vm.event.startTime">
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2" style="margin-top: 5px">{{'TO' | translate}}</div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <div class="input-group date">
                          <input type="date" class="form-control" id="datetimepicker3" placeholder="Date" ng-model="vm.event.endDate">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <div class="input-group date">
                          <input type="time" class="form-control" id="datetimepicker4" placeholder="Time" ng-model="vm.event.endTime">
                          <span class="input-group-addon">
                              <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>{{'LOCATION' | translate}}</label>
                    <ui-select ng-model="vm.address.selected" theme="bootstrap" append-to-body="true" reset-search-input="false">
                      <ui-select-match>{{$select.selected.formatted_address}}</ui-select-match>
                      <ui-select-choices repeat="address in vm.addresses track by $index" refresh="vm.refreshAddresses($select.search)" refresh-delay="0">
                        <div ng-bind-html="address.formatted_address"></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
              </div>

              <div class="form-group">
                <label>{{'REPEAT_SCHEDULE' | translate}}</label>
                <div class="radio-l">
                  <input id="radio3" type="radio" name="radio" value="radio3" checked="" ng-model="vm.event.isRepeat" ng-value="false">
                  <label for="radio3"> {{'ALL_DAY' | translate}}</label>
                </div>
                <div class="radio-l">
                  <input id="radio4" type="radio" name="radio" value="radio4" ng-model="vm.event.isRepeat" ng-value="true">
                  <label for="radio4"> {{'REPEAT' | translate}}</label>
                </div>
              </div>

              <div class="form-group">
                <label>{{'DESCRIPTION' | translate}}</label>
                <textarea class="form-control" rows="5" placeholder="Description" ng-model="vm.event.description"></textarea>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{'EVENT_PICTURES' | translate}}</label>
                <div class="upload-img-event">
                  <div class="row">
                    <div class="col-xs-3"><img src="images/img.jpg" width="100%"></div>
                    <div class="col-xs-9 text-center">
                      <p><a href="#" class="btn btn-danger btn-sm">{{'UPLOAD_PICTURE' | translate}}</a></p>
                      {{'FILE_REQUIREMENT' | translate}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>{{'ADD_PARTICIPANTS' | translate}}</label>
                <div class="list-user-add">
                  <ul>
                    <li ng-repeat="participant in vm.event.participants">
                      <img src="images/user.jpg">
                      <a href="#">{{participant.name}}</a>
                      <a href="#" class="delete-list" ng-click="vm.removeParticipant($index)"><i class="fa fa-trash-o"></i></a>
                    </li>
                    <li ng-show="vm.event.participants.length==0">
                      {{'EMPTY_PARTICIPANTS' | translate}}
                    </li>
                  </ul>
                </div>

                <button class="btn btn-danger btn-sm" type="button" ng-click="vm.showAddParticipantsModal()">{{'ADD_PARTICIPANTS' | translate}}</button>
              </div>
              <!-- <div class="form-group">
                <label>Organizer</label>
                <div class="list-user-add">
                  <ul>
                    <li>
                      <img src="images/user.jpg">
                      <a href="#">Barbara Walton</a> @Barbara
                      <a href="#" class="delete-list"><i class="fa fa-trash-o"></i></a>
                    </li>
                  </ul>
                </div>

                <button class="btn btn-danger btn-sm">ADD Organizer</button>
              </div> -->

              <div class="form-group">
                <label>{{'ADD_AWARD' | translate}}</label>
                <div class="add-award-event">
                  <div class="row">
                    <div class="col-xs-3 col-sm-2">
                      <img ng-show="vm.event.award" ng-src="vm.event.award.objectPhotoId.metadata.small" width="100%">
                    </div>
                    <div class="col-xs-9 col-sm-10 text-center" style="margin-top: 10px">
                      <button class="btn btn-danger btn-sm" type="button" ng-click="vm.showAddAwardModal()">{{'ADD_AWARD' | translate}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        	</div>
        	<div class="bottom-button">
            <button type="submit" class="btn btn-success btn-radius-20">{{'CREATE_EVENT' | translate}}</button>
          </div>
        </form>
			</div>
		</div>
    <div class="col-sm-4 col-lg-3 pc-show">
      <div class="box-blue p15">
        <div class="title-blue">{{'FRIENDS_LIST' | translate}} ({{vm.friends.length}}) <a href="#" class="show-all-box">Show all</a></div>
        <ul class="list-media list-friend list-friend-1">
          <li ng-repeat="friend in vm.friends">
            <div class="img-media">
              <a href="#"></a><a href="#"><img ng-src="friend.avatar.metadata.small"></a>
            </div>
            <h4><a href="#">{{friend.name}}</a></h4>
          </li>
        </ul>
    </div>
    <div class="box-blue p15">
      <div class="title-blue">RELATED EVENTS <a href="#" class="show-all-box">Show all</a></div>
        <ul class="list-my-event">
          <li>
            <p><a href="#">A couple of the objects that live on my bedside table are some Aesop hand cream.</a></p>
            July 04,2016 / Comments 4
          </li>
          <li>
            <p><a href="#">A couple of the objects that live on my bedside table are some Aesop hand cream.</a></p>
            July 04,2016 / Comments 4
          </li>
          <li>
            <p><a href="#">A couple of the objects that live on my bedside table are some Aesop hand cream.</a></p>
            July 04,2016 / Comments 4
          </li>
        </ul>
      </div>
    </div>
	</div>
</div>