<div class="container">
	<hs-profile-menu-header></hs-profile-menu-header>
	<div class="row">
		<div class="col-sm-3 pc-show">
            <div class="box-blue p15">
                <div class="img-user-main">
                    <img src="{{vm.authUser | avatarUrl}}" width="100%;">
                    <div class="code-qc">
                        <qrcode version="20" error-correction-level="H" data="{{vm.authUser.link}}" href="{{vm.authUser.link}}" size="50"></qrcode>
                    </div>
                </div>
                <div class="bottom-user-main">
                    <h3 style="margin-top: 0px">{{vm.authUser.name}}</h3>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="box-blue p15">
                <div class="title-blue">{{'PHOTOS' | translate}} <a ui-sref="profile.photos({id: vm.authUser._id})" class="show-all-box">{{'SHOW_ALL' | translate}}</a></div>
                <ul class="row row-small list-photo">
                    <li class="col-xs-6" ng-repeat="photo in vm.photos.items">
                    	<a href="#" ng-click="vm.viewPhoto(photo)"><div class="bg-cover" style="background-image: url('{{photo | imageUrl:'small'}}')"></div></a>
                	</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box-blue">
                <div class="post-li" ng-repeat="item in vm.dashboardItems.items">
                    <div class="img-post-li">
                        <a ng-if="item.itemType==='relation'" ui-sref="profile.detail({id: item.fromUserId._id})">
                            <img src="{{item.fromUserId | avatarUrl}}">
                        </a>

                        <a ng-if="item.itemType!=='relation'" ui-sref="profile.detail({id: item.ownerId._id})">
                            <img src="{{item.ownerId | avatarUrl}}">
                        </a>
                    </div>
                    <div class="content-post-li">
                        <div class="title-post-li" ng-switch="item.itemType">
                            <h4 class="title-generated-home" ng-switch-when="relation">{{'FRIEND_SHIP_REQUEST' | translate}}: <span class="date-post">{{item.createdAt | fromNow}}</span> </h4>

                            <h4 class="title-generated-home" ng-switch-when="upcoming-event">{{'UPCOMING_EVENT' | translate}}: <span class="date-post">{{item.createdAt | fromNow}}</span></h4>

                            <h4 class="title-generated-home" ng-switch-when="event-invited">{{'EVENT_INVITES' | translate}}: <span class="date-post">{{item.createdAt | fromNow}}</span></h4>

                            <h4 class="title-generated-home" ng-switch-when="liked">{{'LIKED_EVENT' | translate}}: <span class="date-post">{{item.createdAt | fromNow}}</span></h4>

                            <h4 class="title-generated-home" ng-switch-when="attend-event">{{'ATTEND_EVENT' | translate}}: <span class="date-post">{{item.createdAt | fromNow}}</span></h4>
                        </div>
                        <div class="content-post-li" ng-switch="item.itemType">
                            <p ng-switch-when="relation">{{item.fromUserId.name}} {{'INVITE_BECOME_FRIEND' | translate}}</p>
                            <a ng-click="vm.friendAccept(item)" ng-switch-when="relation" href="#" class="btn btn-success btn-radius-20">{{'ACCEPT' | translate}}</a>
                            <a ng-click="vm.friendReject(item)" ng-switch-when="relation" href="#" class="btn btn-danger btn-radius-20">{{'DECLINE' | translate}}</a>

                            <p ng-switch-when="upcoming-event">{{item.ownerId.name}} {{'INTERESTED_EVENT' | translate}}: <a ui-sref="event.detail({id: item._id})">{{item.name}}</a></p>

                            <p ng-switch-when="event-invited">{{item.ownerId.name}} {{'INVITE_TO_EVENT' | translate}}: 
                                <a ui-sref="event.detail({id: item._id})">{{item.name}}</a>
                            </p>

                            <p ng-switch-when="liked">{{item.ownerId.name}} {{'HAS_LIKED_EVENT' | translate}}: 
                                <a ui-sref="event.detail({id: item.event._id})">{{item.event.name}}</a>
                            </p>

                            <p ng-switch-when="attend-event">{{item.ownerId.name}} {{'HAS_ATTEND_EVENT' | translate}}: 
                                <a ui-sref="event.detail({id: item.event._id})">{{item.event.name}}</a>
                            </p>
                        </div>
                        <div class="img-content-post" ng-if="item.itemType!=='relation'">
                            <div class="bg-cover" style="background-image: url('{{(item.event) ? item.event : item | eventThumbnail}}'); height: 200px"></div>

                            <a ng-click="vm.eventAccept(item)" ng-if="item.itemType==='event-invited'" href="#" class="btn btn-success btn-radius-20">{{'ACCEPT' | translate}}</a>
                            <a ng-click="vm.eventReject(item)" ng-if="item.itemType==='event-invited'" href="#" class="btn btn-danger btn-radius-20">{{'DECLINE' | translate}}</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="post-li" ng-show="vm.dashboardItems.items < vm.dashboardItems.totalItem">
                    <a href="#" ng-click="vm.loadItems()">{{'LOAD_MORE_FEEDS' | translate}}</a>
                </div> -->
            </div>
        </div>
        <div class="col-sm-3">
            <div class="box-blue p15">
                <hs-user-friends u-id="vm.authUser._id"></hs-user-friends>
            </div>

            <div class="box-blue p15">
                <div class="title-blue">{{'INVITE_SOCIAL_FRIENDS' | translate}}</div>
                <ul class="media-list">
                    <li>
                        <a ng-click="vm.inviteFriend('outlook')" href="#" class="facebook-sign grey-color"> Outlook </a>
                    </li>
                    <li>
                        <a ng-click="vm.inviteFriend('google')" href="#" class="google-sign grey-color"><i class="fa fa-google-plus"></i> Google </a>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</div>