<div class="container">
	<hs-profile-menu-header></hs-profile-menu-header>
	<div class="row">
		<div class="col-sm-3 pc-show">
            <div class="box-blue p15">
                <div class="img-user-main">
                    <img src="{{vm.authUser | avatarUrl}}" width="100%;">
                    <div class="code-qc">
                        <!-- <qrcode version="20" error-correction-level="H" data="{{vm.authUser.link}}" href="{{vm.authUser.link}}" size="50"></qrcode> -->
                    </div>
                </div>
                <div class="bottom-user-main">
                    <h3 class="col-sm-9" style="margin-top: 0px">{{vm.authUser.name}}</h3>
                    <qrcode class="col-sm-3" version="20" error-correction-level="H" data="{{vm.authUser.link}}" href="{{vm.authUser.link}}" size="50"></qrcode>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="box-blue p15">
                <div class="title-blue">{{'PHOTOS' | translate}} <a ui-sref="profile.photos({id: vm.authUser._id})" class="show-all-box">{{'SHOW_ALL' | translate}}</a></div>
                <ul class="row row-small list-photo">
                    <li class="col-xs-6" ng-repeat="photo in vm.photos.items">
                    	<a href="#" ng-click="vm.viewPhoto(photo)"><div class="bg-cover" style="background-image: url('{{photo | imageUrl:'small'}}')"></div></a>
                	</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box-blue">
                <div class="my-home-item" ng-repeat="item in vm.dashboardItems.items">
                    <div class="dashboard-item">
                        <div class="dashboard-left-item">
                            <div class="my-home-top-li-event">
                                <div ng-show="vm.eventTypes.indexOf(item.type)!==-1 || item.type==='event-invitation'">
                                    <a ui-sref="profile.detail({id: item.element.ownerId._id})">
                                        <img src="{{item.element.ownerId | avatarUrl}}">
                                    </a>
                                    <h4><a ui-sref="profile.detail({id: item.element.ownerId._id})">{{item.element.ownerId.name}}</a></h4>
                                </div>

                                <div ng-show="item.type==='friend-request'">
                                    <a ui-sref="profile.detail({id: item.fromUserId._id})">
                                        <img src="{{item.fromUserId | avatarUrl}}">
                                    </a>
                                    <h4>
                                        <a ui-sref="profile.detail({id: item.fromUserId._id})">{{item.fromUserId.name}}</a> <span ng-bind-html="'INVITE_BECOME_FRIEND' | translate | html"></span>
                                    </h4>
                                </div>

                                <i class="fa fa-clock-o"></i> <span>{{item.createdAt | fromNow | fromNowNumber}} {{item.createdAt | fromNow | fromNowTranslate | translate}}</span>
                            </div>
                        </div>
                        <div class="dashboard-right-item">
                            <h3><a class="white-color" ui-sref="event.detail({id: item.element._id})">{{item.element.name}}</a></h3>
                        </div>
                    </div>

                    <div class="my-home-content-post-li">
                        <div class="row" ng-show="item.type==='event-invitation'">
                            <div class="col-sm-4">
                                <img width="100%" height="auto" src="{{item.element | eventThumbnail}}">
                            </div>
                            <div class="col-sm-8">
                                <div class="content-post-li">
                                    <p>
                                        <a ui-sref="profile.detail({id: item.fromUserId._id})">{{item.fromUserId.name}}</a> {{(item.element.createdFromRepeatEvent) ? 'A_NEW_INSTANCE_OF_EVENT' : 'INVITE_TO_EVENT' | translate}}: 
                                        <a ui-sref="event.detail({id: item.element._id})">{{item.element.name}}</a>
                                        <span ng-show="item.element.createdFromRepeatEvent">{{'IS_SCHEDULED_FOR' | translate}} {{item.element.startDateTime | date: 'medium'}} - {{item.element.endDateTime | date: 'medium'}}. <span ng-bind-html="'WOULD_YOU_LIKE_TO_JOIN' | translate | html"></span></span>
                                    </p>

                                    <a ng-click="vm.eventAccept(item)" href="#" class="btn btn-success btn-radius-20">{{'ACCEPT' | translate}}</a>

                                    <a ng-click="vm.eventReject(item)" href="#" class="btn btn-danger btn-radius-20">{{'DECLINE' | translate}}</a>
                                </div>
                            </div>
                        </div>

                        <div ng-show="item.type==='friend-request'">
                            <a ng-click="vm.friendAccept(item.element)" href="#" class="btn btn-success btn-radius-20">{{'ACCEPT' | translate}}</a>
                            <a ng-click="vm.friendReject(item.element)" class="btn btn-danger btn-radius-20">{{'DECLINE' | translate}}</a>
                        </div>

                        <div class="row" ng-show="vm.eventTypes.indexOf(item.type)!==-1">
                            <div class="col-sm-4">
                                <img width="100%" height="auto" src="{{item.element | eventThumbnail}}">
                            </div>
                            <div class="col-sm-8">
                                <div ng-repeat="sub in item.subItems | limitTo: item.limit" class="content-post-li">
                                    <p ng-show="sub.type==='attend-event'">
                                        <a ui-sref="profile.detail({id: sub.fromUserId._id})">{{sub.fromUserId.name}}</a> {{'HAS_ATTEND_EVENT' | translate}}
                                        <a ui-sref="event.detail({id: sub.element._id})">{{sub.element.name}}</a>
                                    </p>

                                    <p ng-show="sub.type==='pass-admin-role'">
                                        <a ui-sref="profile.detail({id: sub.fromUserId._id})">{{sub.fromUserId.name}}</a> 
                                        <span ng-bind-html="'HAS_PASSED_ADMIN_ROLE_OF_EVENT' | translate | html"></span> 
                                        <a ui-sref="event.detail({id: sub.element._id})">{{sub.element.name}}</a>
                                        {{'TO' | translate | lowercase}} {{'YOU' | translate | lowercase}}
                                    </p>

                                    <p ng-show="sub.type==='liked-event'">
                                        <a ui-sref="profile.detail({id: sub.fromUserId._id})">{{sub.fromUserId.name}}</a> {{'HAS_LIKED_EVENT' | translate}} <a ui-sref="event.detail({id: sub.element._id})">{{sub.element.name}}</a>
                                    </p>
                                </div>
                                <div>
                                    <a style="color: #fff" class="btn btn-primary" href="#" ng-click="item.limit=item.limit+10" ng-show="item.limit < item.subItems.length">{{'LOAD_MORE' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="my-home-top-li-event">
                        <a ui-sref="profile.detail({id: (item.itemType==='relation' ? item.fromUserId._id : item.ownerId._id)})">
                            <img src="{{(item.itemType==='relation') ? item.fromUserId : item.ownerId | avatarUrl}}">
                        </a>
                        <h4>
                            <a ui-sref="profile.detail({id: (item.itemType==='relation' ? item.fromUserId._id : item.ownerId._id)})">{{(item.itemType==='relation' ? item.fromUserId.name : item.ownerId.name)}}</a>
                        </h4>
                        <i class="fa fa-clock-o"></i> <span>{{item.createdAt | fromNow | fromNowNumber}} {{item.createdAt | fromNow | fromNowTranslate | translate}}</span>
                    </div>
                    <div class="my-home-content-post-li row">
                        <div class="col-sm-4">
                            <img width="100%" height="auto" src="{{(item.event) ? item.event : item | eventThumbnail}}">
                        </div>
                        <div class="col-sm-8">
                            <div class="content-post-li" ng-switch="item.itemType">
                                <p ng-switch-when="relation">{{item.fromUserId.name}} <span ng-bind-html="'INVITE_BECOME_FRIEND' | translate | html"></span></p>
                                <a ng-click="vm.friendAccept(item)" ng-switch-when="relation" href="#" class="btn btn-success btn-radius-20">{{'ACCEPT' | translate}}</a>
                                <a ng-click="vm.friendReject(item)" ng-switch-when="relation" href="#" class="btn btn-danger btn-radius-20">{{'DECLINE' | translate}}</a>

                                <p ng-switch-when="upcoming-event">{{item.ownerId.name}} {{'INTERESTED_EVENT' | translate}}: <a ui-sref="event.detail({id: item._id})">{{item.name}}</a></p>

                                <p ng-switch-when="event-invited">{{item.ownerId.name}} {{(item.createdFromRepeatEvent) ? 'A_NEW_INSTANCE_OF_EVENT' : 'INVITE_TO_EVENT' | translate}}: 
                                    <a ui-sref="event.detail({id: item._id})">{{item.name}}</a>
                                    <span ng-show="item.createdFromRepeatEvent">{{'IS_SCHEDULED_FOR' | translate}} {{item.startDateTime | date: 'medium'}} - {{item.endDateTime | date: 'medium'}}. <span ng-bind-html="'WOULD_YOU_LIKE_TO_JOIN' | translate | html"></span></span>
                                </p>

                                <p ng-switch-when="liked">{{item.ownerId.name}} {{'HAS_LIKED_EVENT' | translate}}: 
                                    <a ui-sref="event.detail({id: item.event._id})">{{item.event.name}}</a>
                                </p>

                                <p ng-switch-when="attend-event">{{item.ownerId.name}} {{'HAS_ATTEND_EVENT' | translate}}: 
                                    <a ui-sref="event.detail({id: item.event._id})">{{item.event.name}}</a>
                                </p>

                                <p ng-switch-when="inviting-event">{{item.ownerId.name}} <span ng-bind-html="'WAS_ADDED_YOU_AS_MEMBER_OF_EVENT' | translate"></span>: 
                                    <a ui-sref="event.detail({id: item._id})">{{item.name}}</a>
                                </p>

                                <p ng-switch-when="waiting-acceptance">{{'YOU_ARE_NOW_IN_WAITING_LIST_IN' | translate}}: 
                                    <a ui-sref="event.detail({id: item._id})">{{item.name}}</a>
                                </p>

                                <a ng-click="vm.eventAccept(item)" ng-if="item.itemType==='event-invited'" href="#" class="btn btn-success btn-radius-20">{{'ACCEPT' | translate}}</a>

                                <a ng-click="vm.eventReject(item)" ng-if="item.itemType==='event-invited'" href="#" class="btn btn-danger btn-radius-20">{{'DECLINE' | translate}}</a>

                                <p ng-switch-when="passed-admin-role">
                                    {{item.ownerId.name}} 
                                    <span ng-bind-html="'HAS_PASSED_ADMIN_ROLE_OF_EVENT' | translate | html"></span> 
                                    <a ui-sref="event.detail({id: item._id})">{{item.name}}</a>
                                    {{'TO' | translate | lowercase}} {{'YOU' | translate | lowercase}}
                                </p>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="img-post-li">
                        <a ng-if="item.itemType==='relation'" ui-sref="profile.detail({id: item.fromUserId._id})">
                            <img src="{{item.fromUserId | avatarUrl}}">
                        </a>

                        <a ng-if="item.itemType!=='relation'" ui-sref="profile.detail({id: item.ownerId._id})">
                            <img src="{{item.ownerId | avatarUrl}}">
                        </a>
                    </div> -->
                    <!-- <div class="content-post-li">
                        <div class="title-post-li" ng-switch="item.itemType">
                            <h4 class="title-generated-home" ng-switch-when="relation">{{'FRIEND_SHIP_REQUEST' | translate}}: <span class="date-post">{{item.createdAt | fromNow | fromNowNumber}} {{item.createdAt | fromNow | fromNowTranslate | translate}}</span> </h4>

                            <h4 class="title-generated-home" ng-switch-when="upcoming-event">{{'UPCOMING_EVENT' | translate}}: <span class="date-post">{{item.createdAt | fromNow | fromNowNumber}} {{item.createdAt | fromNow | fromNowTranslate | translate}}</span></h4>

                            <h4 class="title-generated-home" ng-switch-when="event-invited">{{'EVENT_INVITES' | translate}}: <span class="date-post">{{item.createdAt | fromNow | fromNowNumber}} {{item.createdAt | fromNow | fromNowTranslate | translate}}</span></h4>

                            <h4 class="title-generated-home" ng-switch-when="liked">{{'LIKED_EVENT' | translate}}: <span class="date-post">{{item.createdAt | fromNow | fromNowNumber}} {{item.createdAt | fromNow | fromNowTranslate | translate}}</span></h4>

                            <h4 class="title-generated-home" ng-switch-when="attend-event">{{'ATTEND_EVENT' | translate}}: <span class="date-post">{{item.createdAt | fromNow | fromNowNumber}} {{item.createdAt | fromNow | fromNowTranslate | translate}}</span></h4>

                            <h4 class="title-generated-home" ng-switch-when="inviting-event">{{'EVENT_PARTICIPATION' | translate}}: <span class="date-post">{{item.createdAt | fromNow | fromNowNumber}} {{item.createdAt | fromNow | fromNowTranslate | translate}}</span></h4>

                            <h4 class="title-generated-home" ng-switch-when="waiting-acceptance">{{'WAITING_FOR_ACCEPTANCE' | translate}}: <span class="date-post">{{item.createdAt | fromNow | fromNowNumber}} {{item.createdAt | fromNow | fromNowTranslate | translate}}</span></h4>
                        </div>
                        <div class="content-post-li" ng-switch="item.itemType">
                            <p ng-switch-when="relation">{{item.fromUserId.name}} <span ng-bind-html="'INVITE_BECOME_FRIEND' | translate | html"></span></p>
                            <a ng-click="vm.friendAccept(item)" ng-switch-when="relation" href="#" class="btn btn-success btn-radius-20">{{'ACCEPT' | translate}}</a>
                            <a ng-click="vm.friendReject(item)" ng-switch-when="relation" href="#" class="btn btn-danger btn-radius-20">{{'DECLINE' | translate}}</a>

                            <p ng-switch-when="upcoming-event">{{item.ownerId.name}} {{'INTERESTED_EVENT' | translate}}: <a ui-sref="event.detail({id: item._id})">{{item.name}}</a></p>

                            <p ng-switch-when="event-invited">{{item.ownerId.name}} {{'INVITE_TO_EVENT' | translate}}: 
                                <a ui-sref="event.detail({id: item._id})">{{item.name}}</a>
                            </p>

                            <p ng-switch-when="liked">{{item.ownerId.name}} {{'HAS_LIKED_EVENT' | translate}}: 
                                <a ui-sref="event.detail({id: item.event._id})">{{item.event.name}}</a>
                            </p>

                            <p ng-switch-when="attend-event">{{item.ownerId.name}} {{'HAS_ATTEND_EVENT' | translate}}: 
                                <a ui-sref="event.detail({id: item.event._id})">{{item.event.name}}</a>
                            </p>

                            <p ng-switch-when="inviting-event">{{item.ownerId.name}} <span ng-bind-html="'WAS_ADDED_YOU_AS_MEMBER_OF_EVENT' | translate"></span>: 
                                <a ui-sref="event.detail({id: item._id})">{{item.name}}</a>
                            </p>

                            <p ng-switch-when="waiting-acceptance">{{'YOU_ARE_NOW_IN_WAITING_LIST_IN' | translate}}: 
                                <a ui-sref="event.detail({id: item._id})">{{item.name}}</a>
                            </p>
                        </div>
                        <div class="img-content-post" ng-if="item.itemType!=='relation'">
                            <div class="bg-cover" style="background-image: url('{{(item.event) ? item.event : item | eventThumbnail}}'); height: 400px"></div>

                            <a ng-click="vm.eventAccept(item)" ng-if="item.itemType==='event-invited'" href="#" class="btn btn-success btn-radius-20">{{'ACCEPT' | translate}}</a>
                            <a ng-click="vm.eventReject(item)" ng-if="item.itemType==='event-invited'" href="#" class="btn btn-danger btn-radius-20">{{'DECLINE' | translate}}</a>
                        </div>
                    </div> -->
                </div>
                <!-- <div class="post-li" ng-show="vm.dashboardItems.items < vm.dashboardItems.totalItem">
                    <a href="#" ng-click="vm.loadItems()">{{'LOAD_MORE_FEEDS' | translate}}</a>
                </div> -->
            </div>
        </div>
        <div class="col-sm-3">
            <div class="box-blue p15">
                <hs-user-friends u-id="vm.authUser._id"></hs-user-friends>
            </div>

            <div class="box-blue p15">
                <div class="title-blue">{{'INVITE_SOCIAL_FRIENDS' | translate}}</div>
                <ul class="media-list">
                    <li>
                        <a ng-click="vm.inviteFriend('outlook')" href="#" class="facebook-sign grey-color"> Outlook </a>
                    </li>
                    <li>
                        <a ng-click="vm.inviteFriend('google')" href="#" class="google-sign grey-color"><i class="fa fa-google-plus"></i> Google </a>
                    </li>
                    <li>
                        <a ng-click="vm.inviteFriend('viaEmails')" href="#" class="facebook-sign grey-color" ng-bind-html="'INVITE_VIA_EMAILS' | translate | html"> 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</div>