<div class="page-content">
	<div>
		<h4 ng-bind-html="'PHOTOS_EVENT' | translate"></h4>
	</div>

	<form class="" novalidate="" name="form" ng-submit="vm.submit(form)">
		<div class="form-group">
			<div class="row">
				<div class="col-xs-3"></div>
				<div class="col-xs-9 text-center">
					<label>{{'PHOTO_EVENT_TYPE' | translate}}</label>
					<select name="selectedType" ng-model="vm.photo.type" required>
						<option ng-repeat="type in vm.types" value="{{type}}">{{type}}</option>
					</select>

					<p class="error" ng-show="vm.submitted && form.selectedType.$error.required" ng-bind-html="'REQUIRED_ERROR' | translate | html"></p>
				</div>
			</div>
		</div>
		<div class="form-group">
	    <div class="row">
	      <div class="col-xs-3">
	        <img ng-show="vm.file.name" style="margin-bottom:5px" ngf-src="vm.file" width="100%">
	        <img ng-show="!vm.file.name" style="margin-bottom:5px" src="{{vm.photo.metadata.medium}}" width="100%">
	      </div>
	      <div class="col-xs-9 text-center ng-binding">
	        <p><a href="#" class="btn btn-danger" ngf-select="vm.select($file)" ngf-multiple="false" accept="image/*"><span ng-bind-html="'UPLOAD_PICTURE' | translate"></span></a></p>
	        <span ng-bind-html="'FILE_REQUIREMENT' | translate | html"></span>
	      </div>
	    </div>
	  </div>
	  <div class="form-group">
	  	<button type="submit" class="btn btn-primary">{{'SUBMIT' | translate}}</button>
	  	<a ui-sref="backend.photosEvent.list" class="btn btn-warning">{{'CANCEL' | translate}}</a>
	  </div>
	</form>
</div>