<div class="page-content">
	<div>
		<h4>{{'EVENTS_LIST' | translate}}</h4>
	</div>

	<div class="row">
		<div class="col-sm-8 col-xs-12">
			<select class="col-sm-3" ng-model="vm.selectedFilterType">
				<option ng-value="type.value" ng-repeat="type in vm.filterTypes">{{type.text | translate}}</option>
			</select>
			<div class="col-sm-1"></div>
			<input class="col-sm-8" type="text" ng-model="vm.searchText">
		</div>
		<div class="col-sm-4 col-xs-12">
			<label>
	      <input type="checkbox" ng-model="vm.showActiveEvent">
	      {{'SHOW_INACTIVE_EVENT' | translate}}
	    </label>
		</div>
	</div>

	<div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td><strong>{{'EVENT_NAME' | translate}}</strong></td>
					<td><strong>{{'EVENT_OWNER' | translate}}</strong></td>
					<td><strong>{{'EVENT_TOTAL_PARTICIPANTS' | translate}}</strong></td>
					<td><strong>{{'EVENT_CATEGORY' | translate}}</strong></td>
					<td>
						<strong>
							<a href="#" ng-click="vm.sortType='startDateTime'; vm.sortReverse=!vm.sortReverse">
								{{'EVENT_START_DATE' | translate}}
								<span ng-show="vm.sortType == 'startDateTime' && !vm.sortReverse" class="fa fa-caret-down"></span>
	          		<span ng-show="vm.sortType == 'startDateTime' && vm.sortReverse" class="fa fa-caret-up"></span>
							</a>
						</strong>
					</td>
					<td>
						<strong>
							<a href="#" ng-click="vm.sortType='endDateTime'; vm.sortReverse=!vm.sortReverse">
								{{'EVENT_END_DATE' | translate}}
								<span ng-show="vm.sortType == 'endDateTime' && !vm.sortReverse" class="fa fa-caret-down"></span>
            		<span ng-show="vm.sortType == 'endDateTime' && vm.sortReverse" class="fa fa-caret-up"></span>
							</a>
						</strong>
					</td>
					<td><strong>{{'ACTION' | translate}}</strong></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="!vm.search" ng-repeat="event in vm.events.items | showBlocked:vm.showActiveEvent | orderBy: vm.sortType: vm.sortReverse">
					<td>{{event.name}}</td>
					<td>{{event.ownerId.name}}</td>
					<td>{{event.stats.totalParticipants || 0}}</td>
					<td>{{(event.categoryId.type==='internation') ? 'sport' : event.categoryId.type}}</td>
					<td>{{event.startDateTime | date: 'HH:mm'}} {{event.startDateTime | date: 'dd-MMMM-yyyy'}}</td>
					<td>{{event.endDateTime | date: 'HH:mm'}} {{event.endDateTime | date: 'dd-MMMM-yyyy'}}</td>
					<td>
						<a href="#" ng-click="vm.delete(event)"><i class="fa fa-trash-o"></i></a>
						<a ui-sref="backend.event.edit({id: event._id})"><i class="fa fa-pencil"></i></a>
					</td>
				</tr>
				<tr ng-show="vm.search" ng-repeat="event in vm.searchItems | showBlocked:vm.showActiveEvent | orderBy: vm.sortType: vm.sortReverse track by $index">
					<td>{{event.name}}</td>
					<td>{{event.ownerId.name}}</td>
					<td>{{event.stats.totalParticipants || 0}}</td>
					<td>{{event.categoryId.type}}</td>
					<td>{{event.startDateTime | date: 'HH:mm'}} {{event.startDateTime | date: 'dd-MMMM-yyyy'}}</td>
					<td>{{event.endDateTime | date: 'HH:mm'}} {{event.endDateTime | date: 'dd-MMMM-yyyy'}}</td>
					<td>
						<a href="#" ng-click="vm.delete(event)"><i class="fa fa-trash-o"></i></a>
						<a ui-sref="backend.event.edit({id: event._id})"><i class="fa fa-pencil"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="vm.events.items.length < vm.events.totalItem">
		<a ng-click="vm.loadMore()" href="#">{{'LOAD_MORE_EVENTS' | translate}}</a>
	</div>
</div>