<div class="line-menu-home">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-lg-2 menu-filter" uib-dropdown auto-close="outsideClick">
                <a href="#" uib-dropdown-toggle class="create-event">
                    <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> {{'MORE_FILTER' | translate}} 
                    <!-- <span style="top: 3px;" class="glyphicon glyphicon-filter"></span>  -->
                </a>
                <div uib-dropdown-menu class="menu-filter-dropdown">
                    <div class="menu-filter-dropdown-item">
                        <input id="checkbox1" type="checkbox" ng-model="vm.searchParams.friendActivities" name="checkbox" value="checkbox1" >
                        <label for="checkbox1" ng-bind-html="'FRIENDS_ACTIVITIES' | translate | html"></label>
                    </div>
                    <div class="menu-filter-dropdown-item">
                        <input id="checkbox2" type="checkbox" ng-model="vm.searchParams.companyAccountEvents" name="checkbox" value="checkbox2" >
                        <label for="checkbox2" ng-bind-html="'CO_OPERATION_EVENTS' | translate | html"></label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6  col-lg-8">
                <div class="menu-home">
                    <ul>
                        <li ng-mouseover="vm.showPopover(category)" ng-class="{'active': vm.isActive(category)}" ng-repeat="category in vm.categories | orderBy: 'order'">
                            <a href ng-click="vm.selectCategory(category)" class="{{category | categoryClass: true}}"><img height="74" ng-src="{{category | categoryImagePath}}">
                                <span>{{category.menuName.toUpperCase()}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3  col-lg-2">
                <!-- <a ui-sref="event.create" class="create-event"><i class="fa fa-calendar-plus-o"></i> <span ng-bind-html="'CREATE_EVENT' | translate"></span></a> -->
                <!-- new create event button -->
                <a ui-sref="event.create" class="create-event" style="margin-top: 0px;">
                    <img src="assets/images/create_event_btn.png">
                    <br>
                    <span ng-bind-html="'CREATE_EVENT' | translate"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-lg-2" id="div-1">
            <div class="m20 pc-show">
                <search-location></search-location>
            </div>
            <hs-weather location="vm.searchParams.address.geometry.location"></hs-weather> 
            <hs-event-map locations="vm.locations" title="{{'CITY_EVENT_MAP' | translate}}"></hs-event-map>
            <div class="box-1 m20 p15">
                <hs-user-friends u-id="vm.authUser._id" hide-description="true"></hs-user-friends>
            </div>
        </div>


        <div class="col-sm-6 col-lg-8"  id="div-2">
            <div class="m20 mobile-show">
                <search-location></search-location>
            </div>
            <div class="m20 mobile-show">
                <search-date></search-date>
            </div>
            <div class="show-sl-event m20" ng-show="vm.countNewEvent > 0">
                <a ng-click="vm.$state.reload()" href="#" style="color:#FFF">
                    <i class="fa fa-refresh"></i> {{vm.countNewEvent}} {{'NEW_EVENTS' | translate}}.
                </a>
                <a href="#" class="close-show"><img src="/assets/images/arrow.png" width="10"></a>
            </div>
            <section class="grid" masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".tile"}'>
                <div class="grid-item tile" masonry-tile ng-repeat="event in vm.events.items">
                    <div class="li-event {{event.categoryId | categoryClass}}">
                        <div class="top-li-event">
                            <a ui-sref="profile.detail({id: event.ownerId._id})"><img src="{{event.ownerId | avatarUrl}}"></a>
                            <h4><a ui-sref="profile.detail({id: event.ownerId._id})">{{event.ownerId.name}} &nbsp;</a></h4>
                            <i class="fa fa-clock-o"></i> 
                            <span ng-show="vm.$localStorage.language==='en'">
                                {{event.createdAt | fromNow | fromNowNumber}} {{event.createdAt | fromNow | fromNowTranslate | translate}}
                            </span>
                            <span ng-show="vm.$localStorage.language==='de'">
                                <span ng-show="event.createdAt | showAgoTextInDeLanguage">{{'AGO' | translate}}</span>{{event.createdAt | fromNow | fromNowNumber}} {{event.createdAt | fromNow | fromNowTranslate | translate}}
                            </span>
                            <div class="arward-li-top">
                                <span>{{event.ownerId.totalAwards | countAward}}</span>
                                <i class="fa fa-trophy"></i>
                            </div>
                        </div>
                        <div class="box-event-li" style="text-align: center;">
                            <a ui-sref="event.detail({id: event._id})" class="img-eventbox">
                                <img width="100%" src="{{event | eventThumbnail}}">
                            </a>
                            <div class="text-li-event">
                                <h3>{{event.name}}</h3>
                                <i class="fa fa-calendar"></i> {{event.startDateTime | date : 'dd.MM.yyyy'}} <i class="fa fa-clock-o"></i> {{event.startDateTime | date: 'HH:mm'}}<br>
                                <i class="fa fa-map-marker"></i> {{'LOCATION' | translate}} : {{event.location.fullAddress}}
                            </div>
                        </div>
                        <div class="bottom-li-event">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="text-bottom-big cursor-pointer" ng-click="vm.like(event)"><i class="fa fa-heart" ng-class="{liked: event.liked}"></i> {{event.totalLike || 0}}</div>
                                    {{(vm.isInterested(event)) ? 'INTERESTED' : 'INTEREST' | translate}}
                                </div>
                                <div class="col-xs-6">
                                    <div class="text-bottom-big cursor-pointer" ng-click="vm.participate(event)"><i class="fa fa-user-plus" ng-class="{liked: vm.checkParticipants(event.participantsId, event.waitingParticipantIds, event.ownerId)}"></i> {{event.stats.totalParticipants+1 || 1}}</div>
                                    <span ng-show="!vm.checkParticipants(event.participantsId, event.waitingParticipantIds, event.ownerId)">{{(event.stats.totalParticipants && event.stats.totalParticipants > 1) ? 'PARTICIPATINGS' : 'PARTICIPATING' | translate}}</span>
                                    <span ng-show="vm.checkParticipants(event.participantsId, event.waitingParticipantIds, event.ownerId)">{{'PARTICIPATED' | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="text-center" ng-show="!vm.$scope.timeout"><hs-loading size="50"></hs-loading></div>
        </div>

        <div class="col-sm-3 col-lg-2"  id="div-3">
            <div class="pc-show">
                <search-date></search-date>
            </div>
            <hs-joined-events></hs-joined-events>
        </div>

    </div>
</div>

<div ng-show="vm.showPopup" class="popup-star-info">
    <div class="popup-star-content">
        <div class="popup-star-title row">
            <h3 class="col-xs-10">
                <i class="fa fa-info-circle" aria-hidden="true" style="color: #0080e5"></i>
                <span style="color: #000">{{vm.currentPopupContent.name | uppercase | translate}}</span>
            </h3>
            <a class="col-xs-2" href="#" ng-click="vm.showPopup = false">X</a>
        </div>
        <div class="popup-star-body">
            <p style="color: #000" ng-bind-html="vm.currentPopupContent.content | translate | html"></p>
            <a class="btn btn-primary" href="#" ng-click="vm.dontShowAgain()">{{'DONT_SHOW_AGAIN' | translate}}</a>
        </div>
    </div>
</div>