<div class="line-menu-home">
  <div class="container">
      <div class="row">
          <div class="col-sm-3 col-lg-2">
              <div class="checkbox-l">
                  <input id="checkbox1" type="checkbox" name="checkbox" value="checkbox1" >
                  <label for="checkbox1"> Friends activities</label>
              </div>
          </div>
          <div class="col-sm-6  col-lg-8">
              <div class="menu-home">
                  <ul>
                      <li><a href="#" class="color-blue"><img src="/assets/images/star.png"><span>SPORTSTAR</span></a></li>
                      <li><a href="#" class="color-orange"><img src="/assets/images/star1.png"><span>FOODSTAR</span></a></li>
                      <li><a href="#" class="color-yellow"><img src="/assets/images/star2.png"><span>SOCIALSTAR</span></a></li>
                      <li><a href="#" class="color-green"><img src="/assets/images/star3.png"><span>ECOSTAR </span></a></li>
                      <li><a href="#" class="color-purple"><img src="/assets/images/star4.png"><span>ACTIONSTAR</span></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-sm-3  col-lg-2">
              <a ui-sref="event.create" class="create-event"><i class="fa fa-calendar-plus-o"></i> Create Event</a>
          </div>
      </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-lg-2" id="div-1">
            <div class="m20 pc-show">
                <div class="venue-box">
                    <a href="#" class="btn btn-default btn-block">HILDESHEIM <i class="fa fa-angle-down"></i></a>
                    <div class="venue-dropdow">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="City">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Postual code">
                        </div>
                        <div class="form-group">
                            <select type="text" class="form-control" ><option>Country</option></select>
                        </div>
                    </div>
                </div>
            </div>
            <hs-weather location="vm.authUser.location"></hs-weather> 
            <hs-event-map locations="vm.locations" title="{{'CITY_EVENT_MAP' | translate}}"></hs-event-map>
            <div class="box-1 m20">
                <div class="title-box-1">Friends</div>
                <div class="body-box-1">
                    <ul class="list-media list-friend">
                        <li>
                            <div class="img-media">
                                <a href="#"><a href="#"><img src="/assets/images/48.jpg"></a></a>
                            </div>
                            <h4><a href="#">Caroline Sanders</a></h4>
                            <span class="text-mo">Sales Lead</span>
                        </li>
                        <li>
                            <div class="img-media">
                                <a href="#"><a href="#"><img src="/assets/images/48.jpg"></a></a>
                            </div>
                            <h4><a href="#">Caroline Sanders</a></h4>
                            <span class="text-mo">Sales Lead</span>
                        </li>
                        <li>
                            <div class="img-media">
                                <a href="#"><a href="#"><img src="/assets/images/48.jpg"></a></a>
                            </div>
                            <h4><a href="#">Caroline Sanders</a></h4>
                            <span class="text-mo">Sales Lead</span>
                        </li>
                        <li>
                            <div class="img-media">
                                <a href="#"><a href="#"><img src="/assets/images/48.jpg"></a></a>
                            </div>
                            <h4><a href="#">Caroline Sanders</a></h4>
                            <span class="text-mo">Sales Lead</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-lg-8"  id="div-2">
            <div class="m20 mobile-show">
                <div class="venue-box">
                    <a href="#" class="btn btn-default btn-block">HILDESHEIM <i class="fa fa-angle-down"></i></a>
                    <div class="venue-dropdow">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="City">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Postual code">
                        </div>
                        <div class="form-group">
                            <select type="text" class="form-control" ><option>Country</option></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-show">
                <div class="m20">
                    <div class='input-group date'>
                        <input type='text' class="form-control"  id='datetimepicker2' value="16/06/2016"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                </div>
                <div class="calendar-home m20">
                    <img src="/assets/images/calendar.jpg" width="100%">
                </div>
            </div>

            <div class="show-sl-event m20">
                <a href="#" style="color:#FFF">
                    <i ng-click="vm.$state.reload()" class="fa fa-refresh"></i> {{vm.countNewEvent}}  new events.
                </a>
                <a href="#" class="close-show"><img src="/assets/images/arrow.png" width="10"></a>
            </div>
            <section class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item" ng-repeat="event in vm.events.items">
                    <div class="li-event li-blue">
                        <div class="top-li-event">
                            <a href="#"><img src="/assets/images/48.jpg"></a>
                            <h4><a href="#">Sandra Howard</a></h4>
                            <i class="fa fa-clock-o"></i> 12 hours ago
                            <div class="arward-li-top">
                                <span>6</span>
                                <i class="fa fa-trophy"></i>
                            </div>
                        </div>
                        <div class="box-event-li">
                            <a ui-sref="event.detail({id: event._id})" class="img-eventbox"><img src="/assets/images/img.jpg" width="100%"></a>
                            <div class="text-li-event">
                                <h3>{{event.name}}</h3>
                                <i class="fa fa-calendar"></i> {{event.startDateTime | date : 'dd.MM.yyyy'}} <i class="fa fa-clock-o"></i> {{event.startDateTime | date: 'HH:mm'}}<br>
                                <i class="fa fa-map-marker"></i> Location : {{event.location.fullAddress}}
                            </div>
                        </div>
                        <div class="bottom-li-event">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="text-bottom-big" ng-click="vm.like(event)"><i class="fa fa-heart" ng-class="{liked: event.liked}"></i> {{event.totalLike || 0}}</div>
                                    Interested
                                </div>
                                <div class="col-xs-6">
                                    <div class="text-bottom-big"><i class="fa fa-user-plus"></i> 360</div>
                                    Participating
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both"></div>
            </section>
            <div class="text-center" ng-show="vm.loading"><hs-loading size="50"></hs-loading></div>
        </div>

        <div class="col-sm-3 col-lg-2"  id="div-3">
            <div class="pc-show">
                <div class="m20">
                    <div class='input-group date'>
                        <input type='text' class="form-control"  id='datetimepicker1' value="16/06/2016"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>


                </div>
                <div class="calendar-home m20">
                    <img src="/assets/images/calendar.jpg" width="100%">
                </div>
            </div>

            <div class="box-1 m20">
                <div class="title-box-1">Event List</div>
                <div class="body-box-1 event-home-right">
                    <ul class="event-list">
                        <li class="li-blue">
                            <div class="top-li-event">
                                <a href="#"><img src="/assets/images/48.jpg"></a>
                                <h4><a href="#">Sandra Howard</a></h4>
                                <i class="fa fa-clock-o"></i> 12 hours ago
                                <div class="arward-li-top">
                                    <span>6</span>
                                    <i class="fa fa-trophy"></i>
                                </div>
                            </div>
                            <div class="text-li-event">
                                <h3>Save Sea Event</h3>
                                <i class="fa fa-calendar"></i> 24.06.2016  <i class="fa fa-clock-o"></i> 15:30<br>
                                <div class="li-friend-event">
                                    <i class="fa fa-user-plus"></i>
                                    <ul>
                                        <li><a href="#"><img src="/assets/images/48.jpg"></a></li>
                                        <li><a href="#"><img src="/assets/images/48.jpg"></a></li>
                                        <li><a href="#"><img src="/assets/images/48.jpg"></a></li>
                                        <li><a href="#"><img src="/assets/images/48.jpg"></a></li>
                                        <li><a href="#"><img src="/assets/images/48.jpg"></a></li>
                                        <li><a href="#" class="number-friend-event">+856s</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="li-green">
                            <div class="top-li-event">
                                <a href="#"><img src="/assets/images/48.jpg"></a>
                                <h4><a href="#">Sandra Howard</a></h4>
                                <i class="fa fa-clock-o"></i> 12 hours ago
                                <div class="arward-li-top">
                                    <span>6</span>
                                    <i class="fa fa-trophy"></i>
                                </div>
                            </div>
                            <div class="text-li-event">
                                <h3>Save Sea Event</h3>
                                <i class="fa fa-calendar"></i> 24.06.2016  <i class="fa fa-clock-o"></i> 15:30<br>
                                <div class="li-friend-event">
                                    <i class="fa fa-user-plus"></i>
                                    <ul>
                                        <li><a href="#"><img src="/assets/images/48.jpg"></a></li>
                                        <li><a href="#"><img src="/assets/images/48.jpg"></a></li>
                                        <li><a href="#"><img src="/assets/images/48.jpg"></a></li>
                                        <li><a href="#"><img src="/assets/images/48.jpg"></a></li>
                                        <li><a href="#"><img src="/assets/images/48.jpg"></a></li>
                                        <li><a href="#" class="number-friend-event">+856s</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="li-orange">
                            <div class="top-li-event">
                                <a href="#"><img src="/assets/images/48.jpg"></a>
                                <h4><a href="#">Sandra Howard</a></h4>
                                <i class="fa fa-clock-o"></i> 12 hours ago
                                <div class="arward-li-top">
                                    <span>6</span>
                                    <i class="fa fa-trophy"></i>
                                </div>
                            </div>
                            <div class="text-li-event">
                                <h3>Save Sea Event</h3>
                                <i class="fa fa-calendar"></i> 24.06.2016  <i class="fa fa-clock-o"></i> 15:30<br>
                                <div class="li-friend-event">
                                    <i class="fa fa-user-plus"></i>
                                    <ul>
                                        <li><a href="#"><img src="/assets/images/48.jpg"></a></li>
                                        <li><a href="#"><img src="/assets/images/48.jpg"></a></li>
                                        <li><a href="#"><img src="/assets/images/48.jpg"></a></li>
                                        <li><a href="#"><img src="/assets/images/48.jpg"></a></li>
                                        <li><a href="#"><img src="/assets/images/48.jpg"></a></li>
                                        <li><a href="#" class="number-friend-event">+856s</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>