<div class="line-menu-home">
  <div class="container">
      <div class="row">
          <div class="col-sm-3 col-lg-2">
              <div class="checkbox-l">
                  <input id="checkbox1" type="checkbox" ng-model="vm.searchParams.friendActivities" name="checkbox" value="checkbox1" >
                  <label for="checkbox1"> Friends activities</label>
              </div>
          </div>
          <div class="col-sm-6  col-lg-8">
              <div class="menu-home">
                  <ul>
                      <li ng-class="{'active': vm.isActive(category)}" ng-repeat="category in vm.categories">
                          <a href ng-click="vm.selectCategory(category)" class="{{category | categoryClass: true}}"><img height="74" ng-src="{{category | categoryImagePath}}">
                            <span>{{category.type.toUpperCase()}}</span>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-sm-3  col-lg-2">
              <a ui-sref="event.create" class="create-event"><i class="fa fa-calendar-plus-o"></i> Create Event</a>
          </div>
      </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-lg-2" id="div-1">
            <div class="m20 pc-show">
                <search-location></search-location>
            </div>
            <hs-weather location="vm.authUser.location"></hs-weather> 
            <hs-event-map locations="vm.locations" title="{{'CITY_EVENT_MAP' | translate}}"></hs-event-map>
            <div class="box-1 m20">
                <div class="title-box-1">Friends</div>
                <div class="body-box-1">
                    <ul class="list-media list-friend">
                        <li>
                            <div class="img-media">
                                <a href="#"><a href="#"><img src="/assets/images/48.jpg"></a></a>
                            </div>
                            <h4><a href="#">Caroline Sanders</a></h4>
                            <span class="text-mo">Sales Lead</span>
                        </li>
                        <li>
                            <div class="img-media">
                                <a href="#"><a href="#"><img src="/assets/images/48.jpg"></a></a>
                            </div>
                            <h4><a href="#">Caroline Sanders</a></h4>
                            <span class="text-mo">Sales Lead</span>
                        </li>
                        <li>
                            <div class="img-media">
                                <a href="#"><a href="#"><img src="/assets/images/48.jpg"></a></a>
                            </div>
                            <h4><a href="#">Caroline Sanders</a></h4>
                            <span class="text-mo">Sales Lead</span>
                        </li>
                        <li>
                            <div class="img-media">
                                <a href="#"><a href="#"><img src="/assets/images/48.jpg"></a></a>
                            </div>
                            <h4><a href="#">Caroline Sanders</a></h4>
                            <span class="text-mo">Sales Lead</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-lg-8"  id="div-2">
            <div class="show-sl-event m20" ng-show="vm.countNewEvent > 0">
                <a href="#" style="color:#FFF">
                    <i ng-click="vm.$state.reload()" class="fa fa-refresh"></i> {{vm.countNewEvent}}  new events.
                </a>
                <a href="#" class="close-show"><img src="/assets/images/arrow.png" width="10"></a>
            </div>
            <section class="grid" masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".tile"}'>
                <div class="grid-item tile" masonry-tile ng-repeat="event in vm.events.items">
                    <div class="li-event {{event.categoryId | categoryClass}}">
                        <div class="top-li-event">
                            <a href="#"><img src="{{event.ownerId | avatarUrl}}"></a>
                            <h4><a href="#">{{event.ownerId.name}} &nbsp;</a></h4>
                            <i class="fa fa-clock-o"></i> {{event.createdAt | fromNow}}
                            <div class="arward-li-top">
                                <span>{{event.ownerId.totalAwards || 0}}</span>
                                <i class="fa fa-trophy"></i>
                            </div>
                        </div>
                        <div class="box-event-li">
                            <a ui-sref="event.detail({id: event._id})" class="img-eventbox"><img src="{{event.photosId | eventThumbnail}}" width="100%"></a>
                            <div class="text-li-event">
                                <h3>{{event.name}}</h3>
                                <i class="fa fa-calendar"></i> {{event.startDateTime | date : 'dd.MM.yyyy'}} <i class="fa fa-clock-o"></i> {{event.startDateTime | date: 'HH:mm'}}<br>
                                <i class="fa fa-map-marker"></i> Location : {{event.location.fullAddress}}
                            </div>
                        </div>
                        <div class="bottom-li-event">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="text-bottom-big" ng-click="vm.like(event)"><i class="fa fa-heart" ng-class="{liked: event.liked}"></i> {{event.totalLike || 0}}</div>
                                    Interested
                                </div>
                                <div class="col-xs-6">
                                    <div class="text-bottom-big"><i class="fa fa-user-plus"></i> {{event.stats.totalParticipants || 0}}</div>
                                    Participating
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="text-center" ng-show="!vm.$scope.timeout"><hs-loading size="50"></hs-loading></div>
        </div>

        <div class="col-sm-3 col-lg-2"  id="div-3">
            <search-date></search-date>
            <hs-joined-events></hs-joined-events>
        </div>

    </div>
</div>