<div class="box-1 m20 weather-forecast">
    <!-- <div class="title-box-1">{{'WEATHER' | translate}}</div> -->
    <!-- <div class="body-box-1" ng-if="valid">
        <div class="box-weather">
            <div class="icon-weather">
                <img class="weather-icon" src="{{ data.list[$index].weather | weatherIconWithPng }}">
            </div>
            <div class="do-weather">{{data.list[$index].temp.day | number: 0}}<sup>o</sup></div>
            <div class="date-weather">
                <span class="next-wea" ng-click="previous()"><i class="fa fa-angle-left"></i></span>
                {{moment(data.list[$index].dt*1000).format('dddd') | weatherDayFilter}}
                <span class="prev-wea" ng-click="next()"><i class="fa fa-angle-right"></i></span>
            </div>
        </div>
    </div> -->

    <div class="body-box-1" ng-if="valid">
        <!-- <div class="box-weather">
            <div class="icon-weather">
                <img class="weather-icon" src="{{ weathers.data[$weatherIndex] | weatherIconDarkSkyWithPng }}">
            </div>
            <div class="do-weather">{{weathers.data[$weatherIndex].temperatureMax | weatherTemperatureConverter}}<sup>o</sup></div>
            <div class="date-weather">
                <span class="next-wea" ng-click="previous()"><i class="fa fa-angle-left"></i></span>
                {{moment(weathers.data[$weatherIndex].time*1000).format('dddd') | weatherDayFilter}}
                <span class="prev-wea" ng-click="next()"><i class="fa fa-angle-right"></i></span>
            </div>
        </div> -->
        <!-- weather list items -->
        <div class="row weather-list">
            <div class="weather-header">
                <img class="" src="{{ weathers.data[$weatherIndex] | weatherIconDarkSkyWithPng }}">
                <div class="col-xs-6">
                    <h4>{{moment(weathers.data[$weatherIndex].time*1000).format('dddd') | weatherDayFilter}}</h4>
                </div>
                <div class="col-xs-6 weather-temperature">
                    <h3>{{weathers.data[$weatherIndex].temperatureMax | weatherTemperatureConverter}}<sup>o</sup></h3>
                    <span>H: {{weathers.data[$weatherIndex].temperatureMax | weatherTemperatureConverter}}</span>
                    <span class="min-temperature">L: {{weathers.data[$weatherIndex].temperatureMin | weatherTemperatureConverter}}</span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="weather-hourly">
                <div class="weather-hourly-detail col-xs-4" ng-repeat="item in hourly.data | limitTo: 3">
                    <div>
                        {{moment(item.time*1000).format('hh a')}}
                    </div>
                    <div>
                        <img src="{{item | weatherIconDarkSkyWithPng}}">    
                    </div>
                    <div>
                        <span>{{item.temperature | weatherTemperatureConverter}}<sup>o</sup></span>    
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="weather-daily">
                <div class="weather-item" ng-repeat="item in weathers.data | limitTo: 4" ng-show="$index !== 0">
                    <div class="col-xs-5 day-name">
                        {{moment(item.time*1000).format('dddd') | weatherDayFilter}}
                    </div>
                    <div class="col-xs-4 day-icon">
                        <img src="{{item | weatherIconDarkSkyWithPng}}">
                    </div>
                    <div class="col-xs-3 day-temperature">
                        <span>{{item.temperatureMax | weatherTemperatureConverter}}<sup>o</sup></span>
                        <span class="min-temperature">{{item.temperatureMin | weatherTemperatureConverter}}<sup>o</sup></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body-box-1" ng-if="!valid">
        <div class="box-weather" style="text-align: left">
            {{'CANNOT_GET_LOCATION' | translate}}
        </div>
    </div>

    <div class="body-box-1 weather-api-powered">
        <div class="box-weather">
            <a href="https://darksky.net/poweredby/" target="_blank">Powered by Dark Sky</a>
        </div>
    </div>
</div>
