<div class="box-1 m20">
    <div class="title-box-1">{{'WEATHER' | translate}}</div>
    <div class="body-box-1" ng-if="valid">
        <div class="box-weather">
            <div class="icon-weather"><i class="{{data.list[$index].weather | weatherIcon}}"></i></div>
            <div class="do-weather">{{data.list[$index].temp.day | number: 0}}<sup>o</sup></div>
            <div class="date-weather">
                <span class="next-wea" ng-click="previous()"><i class="fa fa-angle-left"></i></span>
                {{moment(data.list[$index].dt*1000).format('dddd') | weatherDayFilter}}
                <span class="prev-wea" ng-click="next()"><i class="fa fa-angle-right"></i></span>
            </div>
        </div>
    </div>
    <div class="body-box-1" ng-if="!valid">
        <div class="box-weather" style="text-align: left">
            {{'CANNOT_GET_LOCATION' | translate}}
        </div>
    </div>
</div>
