<div class="container">
	<hs-profile-menu-header></hs-profile-menu-header>

  <div class="box-blue p15">
    <div class="title-blue">{{'EXHIBIT' | translate}}:</div>
    <div class="exhibit-award" ng-show="vm.authUser.awardsExhibits.length > 0">
      <div class="award-step{{award.number}}" ng-repeat="award in vm.authUser.awardsExhibits">
      	<img src="{{award.awardId.objectPhotoId | imageUrl: 'small'}}">
      </div>
      <!-- <div class="award-step2"><img src="assets/images/award1.png"></div>
      <div class="award-step3"><img src="assets/images/award2.png"></div> -->
      <img src="assets/images/bg-award.png" width="100%">
    </div>
  </div>

  <div class="box-blue p15">
    <div class="title-blue">{{'GRANTED_AWARDS' | translate}}</div>
    <slick infinite="true" slides-to-show="5" slides-to-scroll="5" class="listview" responsive="[{breakpoint: 1024, settings: {slidesToShow: 3, slidesToScroll: 3, infinite: true}}, {breakpoint: 600, settings: {slidesToShow: 2, slidesToScroll: 2}}, {breakpoint: 480, settings: {slidesToShow: 1, slidesToScroll: 1}}]">
    	<div ng-repeat="award in vm.grantedAwards.items" class="{{award.eventId.categoryId | categoryClass}}">
    		<div class="box-award">
    			<div class="top-li-event">
    				<a href="#"><img src="{{award.eventId.ownerId | avatarUrl}}"></a>
    				<h4><a href="#">{{award.eventId.ownerId.name}}&nbsp;</a> </h4>
    				<i class="fa fa-clock-o"></i> {{award.createdAt | fromNow}}
    				<div class="arward-li-top">
    					<span>{{award.eventId.ownerId.totalAwards}}</span>
    					<i class="fa fa-trophy"></i>
    				</div>
    			</div>

    			<div class="img-award">
    				<div class="action-award">
    					<button ng-click="vm.delete(award, 'granted')"><i class="fa fa-trash-o"></i> </button>
    				</div>
    				<img class="pointer" ng-click="vm.viewAward(award)" src="{{award.awardId.objectPhotoId | imageUrl: 'small'}}">
    			</div>
    			<div class="title-award pointer" ng-click="vm.viewAward(award)">
    				{{award.awardId.objectName}}
    			</div>
    		</div>
    	</div>
    </slick>
	</div>

	<div class="box-blue p15">
    <div class="title-blue">{{'OWN_AWARDS' | translate}}: <a href="#" class="btn-create" ng-click="vm.showAddMoreAwardModal()"><i class="fa fa-plus"></i> {{'CREATE_AWARD' | translate}}</a></div>
    <slick ng-if="vm.ownAwardLoaded" data="vm.ownAwardLoaded" infinite="true" slides-to-show="5" slides-to-scroll="5" class="listview" responsive="[{breakpoint: 1024, settings: {slidesToShow: 3, slidesToScroll: 3, infinite: true}}, {breakpoint: 600, settings: {slidesToShow: 2, slidesToScroll: 2}}, {breakpoint: 480, settings: {slidesToShow: 1, slidesToScroll: 1}}]">
    	<div ng-repeat="award in vm.ownAwards.items">
	    	<div class="box-award">
	    		<div class="img-award">
	    			<img src="{{award.objectPhotoId | imageUrl: 'small'}}">
	    			<div class="action-award">
	    				<button><i class="fa fa-pencil"></i> </button>
	    				<button ng-click="vm.delete(award, 'owner')"><i class="fa fa-trash-o"></i> </button>
	    			</div>
	    		</div>
	    		<div class="title-award">
	    			{{award.objectName}}
	    		</div>
	    	</div>
    	</div>
		</slick>
  </div>
</div>