<div class="container">
	<hs-profile-menu-header></hs-profile-menu-header>
	<div class="row">
		<div class="col-sm-4 col-lg-3">
			<div class="box-blue p15">
				<hs-user-friends u-id="vm.authUser._id"></hs-user-friends>
			</div>
		</div>

		<div class="col-sm-8 col-lg-9">
			<div class="box-blue p15">
	            <div class="title-blue"> 
	            	{{'MENU_MY_MESSENGER' | translate}}

	            	<div class="show-all-box">
		            	<button class="btn btn-default" ng-click="vm.addTags()">{{'ADD_TAGS' | translate}}</button>
		            	<button class="btn btn-default" ng-click="vm.block()">{{(vm.thread.blocked) ? 'UNBLOCK_THIS_CONVERSATION' : 'BLOCK_THIS_CONVERSATION' | translate}}</button>
		            	<label>
		            		<input ng-click="vm.receiveEmail()" type="checkbox" name="" ng-checked="vm.thread.nonReceiveEmailUsers.indexOf(vm.authUser._id) !== -1">{{'NON_RECEIVE_EMAIL_WHEN_HAVE_NEW_MESSAGE' | translate}}
		            	</label>
	            	</div>
            	</div>

	            <div ng-class="{'box-message-1': message.sentUserId._id===vm.authUser._id}" class="box-message" ng-repeat="message in vm.thread.messages">
	                <div class="img-box-message">
	                	<a ui-sref="profile.detail({id: message.sentUserId._id})">
	                		<img src="{{message.sentUserId | avatarUrl}}">
	                	</a>
	                </div>
	                <div class="text-box-message">
	                    <h4><a ui-sref="profile.detail({id: message.sentUserId._id})">{{message.sentUserId.name}}</a></h4>
	                    <p ng-bind-html="message.message | nl2br | smilies"></p>
	                </div>
	            </div>
	            <div class="box-message box-message-1 message-detail">
	                <div class="img-box-message"><img src="{{vm.authUser | avatarUrl}}"></div>
	                <div class="input-group">
	                	<span class="input-group-addon" smilies-selector="vm.message" smilies-placement="right" smilies-title="Smilies"></span>
		                <div class="replies-form">
		                    <textarea id="reply-textarea" name="message" ng-model="vm.message" focus-on-change="vm.message" class="form-control" placeholder="{{'NEW_MESSAGE' | translate}}" ng-keyup="vm.textAreaAdjust()"></textarea>
		                    <a ng-click="vm.sendMessage(vm.message)" href="#" class="replies-img-a"><i class="fa fa-reply"></i></a>
		                </div>
	                </div>
	            </div>

	        </div>
		</div>
	</div>
</div>